<header class="page-header {{#if noHeaderAnimation}} page-header--no-animation {{/if}}">
    <div class="container">
        <div class="page-header__row">
            {{!-- <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button> --}}
            <div class="page-header__content">
                {{!-- <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                продукция
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                ижс
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                для строителя
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav> --}}
                <a href="tel:+78432504406" class="page-header__phone">
                    8 843 250-44-06
                </a>
                <a href="#order-product" class="page-header__contact-link">
                    Заявка
                </a>
            </div>
        </div>
    </div>
</header>