<div class="menu">
    <div class="menu__top-row">
        <a href="#order-product" class="menu__callback-btn">
            Заявка
        </a>
        <div class="menu__contacts">
            <a href="tel:+7362536724" class="menu__phone-link">
                8 (362) 53–67–24
            </a>
            <a href="mailto:zaomzsk12@gmail.com" class="menu__email-link">zaomzsk12@gmail.com</a>
        </div>
    </div>
    <nav class="menu__nav">
        <ul class="menu__nav-list">
            <li class="menu__nav-list-item">
                <a href="#" class="menu__nav-link menu__nav-link--large">
                    Продукция
                </a>
                <ul class="menu__nav-submenu-list">
                    <li class="menu__nav-submenu-list-item">
                        <a href="#" class="menu__nav-submenu-link">
                            Кирпич силикатный
                        </a>
                    </li>
                    <li class="menu__nav-submenu-list-item">
                        <a href="#" class="menu__nav-submenu-link">
                            Мелкие стеновые блоки из ячеистого бетона
                        </a>
                    </li>
                    <li class="menu__nav-submenu-list-item">
                        <a href="#" class="menu__nav-submenu-link">
                            Сухие строительные смеси марки СИЛма
                        </a>
                    </li>
                    <li class="menu__nav-submenu-list-item">
                        <a href="#" class="menu__nav-submenu-link">
                            Известесодержащее вяжущее
                        </a>
                    </li>
                    <li class="menu__nav-submenu-list-item">
                        <a href="#" class="menu__nav-submenu-link">
                            Песок кварцевый
                        </a>
                    </li>
                    <li class="menu__nav-submenu-list-item">
                        <a href="#" class="menu__nav-submenu-link">
                            Утеплитель
                        </a>
                    </li>
                    <li class="menu__nav-submenu-list-item">
                        <a href="#" class="menu__nav-submenu-link">
                            Фасадная краска
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu__nav-list-item">
                <a href="#" class="menu__nav-link">
                    Главная
                </a>
            </li>
            <li class="menu__nav-list-item">
                <a href="#" class="menu__nav-link">
                    ИЖС
                </a>
            </li>
            <li class="menu__nav-list-item">
                <a href="#" class="menu__nav-link">
                    О заводе
                </a>
            </li>
            <li class="menu__nav-list-item">
                <a href="#" class="menu__nav-link">
                    Для строителя
                </a>
            </li>
            <li class="menu__nav-list-item">
                <a href="#" class="menu__nav-link">
                    Калькулятор
                </a>
            </li>
            <li class="menu__nav-list-item">
                <a href="#" class="menu__nav-link">
                    Наши клиенты
                </a>
            </li>
            <li class="menu__nav-list-item">
                <a href="#" class="menu__nav-link">
                    Контакты
                </a>
            </li>
        </ul>
    </nav>
    <div class="menu__bottom-row">
        <div class="menu__secondary-links">
            <a href="#" class="menu__secondary-link">
                Дилеры
            </a>
            <a href="#" class="menu__secondary-link">
                Способы оплаты
            </a>
            <a href="#" class="menu__secondary-link">
                Услуги по доставке
            </a>
        </div>
        <div class="menu__info">
            <div class="menu__social">
                <a href="#" class="menu__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
                <a href="#" class="menu__social-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
            </div>
            <a href="#" class="menu__price">
                Скачать прайс-лист
            </a>
        </div>
    </div>
</div>