{{#extend "layout"}}
{{#content "main"}}



<section class="standard-header standard-header--large js-shrink-on-scroll">
    <div class="container">
        <div class="standard-header__clipper">
            <div class="standard-header__content standard-header__content--mobile-height">
                <div class="standard-header__bg" style="--overlay-opacity: 0;">
                    <img src="img/about.jpg" alt="" class="standard-header__bg-image">
                </div>
                <div class="standard-header__logo-wrapper">
                    <a href="#" class="standard-header__logo standard-header__logo--hide-on-mobile">
                        <img src="img/logo.svg" alt="" class="standard-header__logo-image">
                        <div class="standard-header__logo-text">
                            МАРИЙСКИЙ ЗАВОД<br>
                            СИЛИКАТНОГО<br>
                            КИРПИЧА
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-intro js-block-to-reveal">
    <div class="container">
        <div class="about-intro__content">
            <div class="about-intro__text-content">
                <h2 class="about-intro__heading">
                    Марийский завод силикатного кирпича — одно из ведущих предприятий по производству строительных
                    материалов в Республике Марий Эл.
                </h2>
                <div class="about-intro__text">
                    <p>
                        Производственные мощности предприятия позволяют выпускать эксклюзивный ассортимент продукции,
                        ориентированный на использование в сфере благоустройства жилищного, частного и муниципального
                        комплекса, отвечающий самым жестким требованиям по качеству и удовлетворяющий самым смелым
                        дизайнерским решениям.
                    </p>
                </div>
                <a href="#" class="about-intro__link">
                    Посмотреть каталог
                </a>
            </div>
            <a href="#" class="about-intro__video">
                <div class="about-intro__video-image-container">
                    <img src="img/about-video.jpg" alt="" class="about-intro__video-image">
                    <div class="about-intro__video-play">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                </div>
                <h4 class="about-intro__video-title">
                    Видео о компании
                </h4>
            </a>
        </div>
    </div>
</section>


<section class="about-geography js-block-to-reveal">
    <div class="container">
        <div class="about-geography__content">
            <div class="about-geography__map">
                <img src="img/about-geography-map.svg" alt="" class="about-geography__map-image">
            </div>
            <h2 class="about-geography__small-heading">
                ГЕОГРАФИЯ продаж
            </h2>
            <h3 class="about-geography__large-heading">
                ЗАО «МЗСК» поставляет свою продукцию на стройки во множество регионов
            </h3>
            <div class="about-geography__text">
                <p>
                    Завод по производству стеновых материалов построен в поселке Силикатный в 1956 году для обеспечения
                    силикатным кирпичом всей существовавшей тогда Марийской АССР.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="catalog js-block-to-reveal">
    <div class="container">
        <div class="catalog__content">


            <div class="catalog__top-row">
                <h2 class="catalog__heading">
                    Продукция
                </h2>
                <h3 class="catalog__inner-heading">
                    Предлагаем вам эксклюзивный ассортимент продукции
                </h3>
                <a href="#" class="catalog__link">
                    В каталог
                </a>
            </div>
            <div class="catalog__slider js-catalog-slider">
                <div class="catalog__slider-sidebar">
                    <div class="catalog__slider-arrows">
                        <button class="catalog__slider-arrows-btn catalog__slider-arrows-btn--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="catalog__slider-arrows-btn catalog__slider-arrows-btn--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <a href="#" class="catalog__slider-link">

                        Скачать прайс-лист
                    </a>
                </div>
                <div class="catalog__slider-main">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="product-card">
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">
                                            Кирпич силикатный ГОСТ 379-2015
                                        </h4>
                                        <div class="product-card__desc">
                                            Применяется для кладки и<br> отделки наружных и внутренних<br> стен зданий и
                                            сооружений.
                                        </div>
                                    </div>
                                    <div
                                        class="product-card__image-container product-card__image-container--no-bottom-margin">
                                        <picture>
                                            <source srcset="img/products/1-mobile.webp" media="(max-width: 640px)">
                                            <img src="img/products/1.webp" alt="" class="product-card__image">
                                        </picture>
                                    </div>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="product-card">
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">
                                            Мелкие стеновые блоки из ячеистого бетона
                                        </h4>

                                    </div>
                                    <div class="product-card__image-container">
                                        <img src="img/products/2.webp" alt="" class="product-card__image">
                                    </div>

                                </a>
                                <a href="#" class="product-card">
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">
                                            Песок кварцевый ГОСТ 8736-88
                                        </h4>

                                    </div>
                                    <div class="product-card__image-container">
                                        <img src="img/products/3.webp" alt="" class="product-card__image">
                                    </div>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="product-card">
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">
                                            Сухие строительные смеси марки СИЛма
                                        </h4>
                                        <div class="product-card__desc">
                                            Сухие строительные смеси - это многокомпонентные, составы на основе
                                            наполнителей, заполнителей, вяжущих компонентов, модифицирующих добавок.
                                        </div>
                                    </div>
                                    <div class="product-card__image-container">
                                        <img src="img/products/4.webp" alt="" class="product-card__image">
                                    </div>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="product-card">
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">
                                            Кирпич силикатный ГОСТ 379-2015
                                        </h4>
                                        <div class="product-card__desc">
                                            Применяется для кладки и<br> отделки наружных и внутренних<br> стен зданий и
                                            сооружений.
                                        </div>
                                    </div>
                                    <div
                                        class="product-card__image-container product-card__image-container--no-bottom-margin">
                                        <picture>
                                            <source srcset="img/products/1-mobile.webp" media="(max-width: 640px)">
                                            <img src="img/products/1.webp" alt="" class="product-card__image">
                                        </picture>
                                    </div>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="product-card">
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">
                                            Мелкие стеновые блоки из ячеистого бетона
                                        </h4>

                                    </div>
                                    <div class="product-card__image-container">
                                        <img src="img/products/2.webp" alt="" class="product-card__image">
                                    </div>

                                </a>
                                <a href="#" class="product-card">
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">
                                            Песок кварцевый ГОСТ 8736-88
                                        </h4>

                                    </div>
                                    <div class="product-card__image-container">
                                        <img src="img/products/3.webp" alt="" class="product-card__image">
                                    </div>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="product-card">
                                    <div class="product-card__content">
                                        <h4 class="product-card__title">
                                            Сухие строительные смеси марки СИЛма
                                        </h4>
                                        <div class="product-card__desc">
                                            Сухие строительные смеси - это многокомпонентные, составы на основе
                                            наполнителей, заполнителей, вяжущих компонентов, модифицирующих добавок.
                                        </div>
                                    </div>
                                    <div class="product-card__image-container">
                                        <img src="img/products/4.webp" alt="" class="product-card__image">
                                    </div>

                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="catalog__show-all js-show-all">
                        Больше продукции
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-goals js-block-to-reveal">
    <div class="container">
        <div class="about-goals__content">
            <h2 class="about-goals__small-heading">
                Наша миссия
            </h2>
            <h3 class="about-goals__large-heading">
                Основными стратегическими целями деятельности предприятия руководство ЗАО «МЗСК» считает:
            </h3>
            <ol class="about-goals__list">
                <li class="about-goals__list-item">
                    <div class="about-goals__card">
                        <h3 class="about-goals__card-title">
                            Инновационное улучшение качества
                            продукции
                        </h3>
                        <div class="about-goals__card-text">
                            <p>
                                Завоевание ведущих позиций на рынке строительных материалов в РМЭ и соседних с ней
                                регионах за счет применения инноваций и передовых технологий в решениях задач по
                                увеличению производства новых видов продукции
                            </p>
                        </div>
                    </div>
                </li>
                <li class="about-goals__list-item">
                    <div class="about-goals__card">
                        <h3 class="about-goals__card-title">
                            Удовлетворение истинных потребностей клиента
                        </h3>
                        <div class="about-goals__card-text">
                            <p>
                                Своевременное и полное удовлетворение потребностей заказчиков в строительных материалах
                            </p>
                        </div>
                    </div>
                </li>
                <li class="about-goals__list-item">
                    <div class="about-goals__card">
                        <h3 class="about-goals__card-title">
                            управление, направленное на результат
                        </h3>
                        <div class="about-goals__card-text">
                            <p>
                                Освоение управления, ориентированного на достижение конкретных результатов на основе
                                процессного подхода и других принципов менеджмента качества
                            </p>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</section>

<section class="about-history js-history-slider">
    <div class="container">
        <div class="about-history__content">
            <h2 class="about-history__small-heading">
                История завода
            </h2>
            <div class="about-history__nav-slider">
                <div class="about-history__nav-slider-inner">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="about-history__nav-slider-card">
                                    1972
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="about-history__nav-slider-card">
                                    2001
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="about-history__nav-slider-card">
                                    2005
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="about-history__nav-slider-card">
                                    2007
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="about-history__nav-arrows">
                    <button class="about-history__nav-arrow about-history__nav-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#house-slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="about-history__nav-arrow about-history__nav-arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#house-slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="about-history__main-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about-history__main-slider-card">
                                <div class="about-history__main-slider-card-year" data-year="1972">
                                    1972
                                </div>
                                <div class="about-history__main-slider-card-content">
                                    <div class="about-history__main-slider-card-image-container">
                                        <img src="img/history.jpg" alt="" class="about-history__main-slider-card-image">
                                    </div>
                                    <div class="about-history__main-slider-card-text">
                                        <p>
                                            Началось производство цветного и пустотелого силикатного кирпича.
                                            Предприятию впервые вручено переходящее Красное Знамя Главка
                                            «Нечерноземстройматериалы», которое удерживалось в коллективе в течение трех
                                            лет.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__main-slider-card">
                                <div class="about-history__main-slider-card-year" data-year="2001">
                                    2001
                                </div>
                                <div class="about-history__main-slider-card-content">
                                    <div class="about-history__main-slider-card-image-container">
                                        <img src="img/history.jpg" alt="" class="about-history__main-slider-card-image">
                                    </div>
                                    <div class="about-history__main-slider-card-text">
                                        <p>
                                            Началось производство цветного и пустотелого силикатного кирпича.
                                            Предприятию впервые вручено переходящее Красное Знамя Главка
                                            «Нечерноземстройматериалы», которое удерживалось в коллективе в течение трех
                                            лет.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__main-slider-card">
                                <div class="about-history__main-slider-card-year" data-year="2005">
                                    2005
                                </div>
                                <div class="about-history__main-slider-card-content">
                                    <div class="about-history__main-slider-card-image-container">
                                        <img src="img/history.jpg" alt="" class="about-history__main-slider-card-image">
                                    </div>
                                    <div class="about-history__main-slider-card-text">
                                        <p>
                                            Началось производство цветного и пустотелого силикатного кирпича.
                                            Предприятию впервые вручено переходящее Красное Знамя Главка
                                            «Нечерноземстройматериалы», которое удерживалось в коллективе в течение трех
                                            лет.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about-history__main-slider-card">
                                <div class="about-history__main-slider-card-year" data-year="2007">
                                    2007
                                </div>
                                <div class="about-history__main-slider-card-content">
                                    <div class="about-history__main-slider-card-image-container">
                                        <img src="img/history.jpg" alt="" class="about-history__main-slider-card-image">
                                    </div>
                                    <div class="about-history__main-slider-card-text">
                                        <p>
                                            Началось производство цветного и пустотелого силикатного кирпича.
                                            Предприятию впервые вручено переходящее Красное Знамя Главка
                                            «Нечерноземстройматериалы», которое удерживалось в коллективе в течение трех
                                            лет.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="photo-cards js-block-to-reveal">
    <div class="container">
        <ul class="photo-cards__list">
            <li class="photo-cards__list-item">
                <div class="photo-cards__card">
                    <div class="photo-cards__card-bg">
                        <img src="img/photos/1.jpg" alt="" class="photo-cards__card-bg-image">
                    </div>
                    <div class="photo-cards__card-content">
                        <h4 class="photo-cards__card-title">
                            Завод и<br> мероприятия
                        </h4>
                        <div class="photo-cards__card-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-photo">
                                <use xlink:href="#photo"></use>
                            </svg>
                            смотреть фото <span class="photo-cards__card-link-count">
                                40
                            </span>

                        </div>
                    </div>
                    <a href="img/photos/1.jpg" class="photo-cards__card-photos-link" data-fancybox="photo-group-1">

                    </a>
                    <a href="img/photos/2.jpg" class="photo-cards__card-photos-link" data-fancybox="photo-group-1">

                    </a>
                </div>
            </li>
            <li class="photo-cards__list-item">
                <div class="photo-cards__card">
                    <div class="photo-cards__card-bg">
                        <img src="img/photos/2.jpg" alt="" class="photo-cards__card-bg-image">
                    </div>
                    <div class="photo-cards__card-content">
                        <h4 class="photo-cards__card-title">
                            Здания из<br> нашего кирпича
                        </h4>
                        <div class="photo-cards__card-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-photo">
                                <use xlink:href="#photo"></use>
                            </svg>
                            смотреть фото <span class="photo-cards__card-link-count">
                                68
                            </span>
                        </div>
                    </div>
                    <a href="img/photos/1.jpg" class="photo-cards__card-photos-link" data-fancybox="photo-group-1">

                    </a>
                    <a href="img/photos/2.jpg" class="photo-cards__card-photos-link" data-fancybox="photo-group-1">

                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="projects-slider projects-slider--news js-projects-slider js-block-to-reveal">
    <div class="container">
        <div class="projects-slider__content">
            <div class="projects-slider__top">
                <h2 class="projects-slider__small-heading">
                    Новости
                </h2>
                <h3 class="projects-slider__large-heading">
                    Актуальные новости нашей компании
                </h3>
                <a href="#" class="projects-slider__show-all">
                    Смотреть все
                </a>
            </div>
            <div class="projects-slider__bottom">
                <div class="projects-slider__controls">
                    <div class="projects-slider__arrows">
                        <button class="projects-slider__arrow projects-slider__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="projects-slider__arrow projects-slider__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="projects-slider__wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Приобретем автоклавы
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            Приобретем автоклавы АТ1,2-2*19 производства ОАО "Волгоцеммаш" г. Тольятти
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                13
                                            </div>
                                            <div class="news-card__date-month">
                                                Ноября
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/1.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Акция! Кирпич с доставкой
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            Белый кирпич, упакованный с доставкой в Морки, Звенигово, Волжск.
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                31
                                            </div>
                                            <div class="news-card__date-month">
                                                октября
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/2.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Сниженние цен на газосиликатные блоки
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            С 1.10.2014 СНИЖЕНЫ ЦЕНЫ на блоки некондиция 1200 руб. за 1м3. Блоки
                                            некондиция...
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                06
                                            </div>
                                            <div class="news-card__date-month">
                                                мая
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/2.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Приобретем автоклавы
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            Приобретем автоклавы АТ1,2-2*19 производства ОАО "Волгоцеммаш" г. Тольятти
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                13
                                            </div>
                                            <div class="news-card__date-month">
                                                Ноября
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/1.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Акция! Кирпич с доставкой
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            Белый кирпич, упакованный с доставкой в Морки, Звенигово, Волжск.
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                31
                                            </div>
                                            <div class="news-card__date-month">
                                                октября
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/2.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Сниженние цен на газосиликатные блоки
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            С 1.10.2014 СНИЖЕНЫ ЦЕНЫ на блоки некондиция 1200 руб. за 1м3. Блоки
                                            некондиция...
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                06
                                            </div>
                                            <div class="news-card__date-month">
                                                мая
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/2.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tenders">
    <div class="container">
        <div class="tenders__content">
            <h2 class="tenders__heading">
                Тендеры на поставку
            </h2>
            <div class="tenders__accordions">
                <div class="tenders__accordion js-accordion">
                    <div class="tenders__accordion-btn js-accordion-btn">
                        <div class="tenders__accordion-btn-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </div>
                        <div class="tenders__accordion-btn-text">
                            Оборудование, запчасти, комплектующие, товары производственного потребления
                        </div>

                    </div>
                    <div class="tenders__accordion-content js-accordion-content">
                        <div class="tenders__accordion-content-inner">
                            <ul class="tenders__list">
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            1. Производственное и технологическое оборудование
                                        </h4>


                                    </div>
                                    <ul class="tenders__list">
                                        <li class="tenders__list-item">
                                            <div class="tenders__card">
                                                <h4 class="tenders__card-title">
                                                    1.1. Редуктора
                                                </h4>

                                                <a href="#tender-modal" class="tenders__card-link">
                                                    подать заявку
                                                </a>
                                            </div>
                                        </li>
                                        <li class="tenders__list-item">
                                            <div class="tenders__card">
                                                <h4 class="tenders__card-title">
                                                    1.2. Лента конвейерная
                                                </h4>

                                                <a href="#tender-modal" class="tenders__card-link">
                                                    подать заявку
                                                </a>
                                            </div>
                                        </li>
                                        <li class="tenders__list-item">
                                            <div class="tenders__card">
                                                <h4 class="tenders__card-title">
                                                    1.3. Пластины для пресса
                                                </h4>

                                                <a href="#tender-modal" class="tenders__card-link">
                                                    подать заявку
                                                </a>
                                            </div>
                                        </li>
                                        <li class="tenders__list-item">
                                            <div class="tenders__card">
                                                <h4 class="tenders__card-title">
                                                    1.4. Подшипники
                                                </h4>

                                                <a href="#tender-modal" class="tenders__card-link">
                                                    подать заявку
                                                </a>
                                            </div>
                                        </li>
                                        <li class="tenders__list-item">
                                            <div class="tenders__card">
                                                <h4 class="tenders__card-title">
                                                    1.5. Метизы
                                                </h4>


                                            </div>

                                            <ul class="tenders__list">
                                                <li class="tenders__list-item">
                                                    <div class="tenders__card">
                                                        <h4 class="tenders__card-title">
                                                            1.5.1. Болты
                                                        </h4>

                                                        <a href="#tender-modal" class="tenders__card-link">
                                                            подать заявку
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="tenders__list-item">
                                                    <div class="tenders__card">
                                                        <h4 class="tenders__card-title">
                                                            1.5.2. Гвозди
                                                        </h4>

                                                        <a href="#tender-modal" class="tenders__card-link">
                                                            подать заявку
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="tenders__list-item">
                                                    <div class="tenders__card">
                                                        <h4 class="tenders__card-title">
                                                            1.5.3. Гвозди
                                                        </h4>
                                                    </div>
                                                    <ul class="tenders__list">
                                                        <li class="tenders__list-item">
                                                            <div class="tenders__card">
                                                                <h4 class="tenders__card-title">
                                                                    1.5.3.1. Гвозди
                                                                </h4>

                                                                <a href="#tender-modal" class="tenders__card-link">
                                                                    подать заявку
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li class="tenders__list-item">
                                                            <div class="tenders__card">
                                                                <h4 class="tenders__card-title">
                                                                    1.5.3.2. Гвозди
                                                                </h4>

                                                                <a href="#tender-modal" class="tenders__card-link">
                                                                    подать заявку
                                                                </a>
                                                            </div>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="tenders__list-item">
                                                    <div class="tenders__card">
                                                        <h4 class="tenders__card-title">
                                                            1.5.4. Гвозди
                                                        </h4>

                                                        <a href="#tender-modal" class="tenders__card-link">
                                                            подать заявку
                                                        </a>
                                                    </div>
                                                </li>


                                            </ul>
                                        </li>
                                        <li class="tenders__list-item">
                                            <div class="tenders__card">
                                                <h4 class="tenders__card-title">
                                                    1.6. Электротовары
                                                </h4>

                                                <a href="#tender-modal" class="tenders__card-link">
                                                    подать заявку
                                                </a>
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            2. Перчатки МБС
                                        </h4>


                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tenders__accordion js-accordion">
                    <div class="tenders__accordion-btn js-accordion-btn">
                        <div class="tenders__accordion-btn-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </div>
                        <div class="tenders__accordion-btn-text">
                            Основное сырье
                        </div>

                    </div>
                    <div class="tenders__accordion-content js-accordion-content">
                        <div class="tenders__accordion-content-inner">
                            <ul class="tenders__list">
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки КЩМ
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки МБС
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки прорезиненные
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Респираторы У2К
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Респиратор Кама-100(Бриз)
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Брюки ватные
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Ботинки
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Сапоги кирзовые
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tenders__accordion js-accordion">
                    <div class="tenders__accordion-btn js-accordion-btn">
                        <div class="tenders__accordion-btn-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </div>
                        <div class="tenders__accordion-btn-text">
                            Упаковочные материалы
                        </div>

                    </div>
                    <div class="tenders__accordion-content js-accordion-content">
                        <div class="tenders__accordion-content-inner">
                            <ul class="tenders__list">
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки КЩМ
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки МБС
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки прорезиненные
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Респираторы У2К
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Респиратор Кама-100(Бриз)
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Брюки ватные
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Ботинки
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Сапоги кирзовые
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tenders__accordion js-accordion">
                    <div class="tenders__accordion-btn js-accordion-btn">
                        <div class="tenders__accordion-btn-icon">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                        </div>
                        <div class="tenders__accordion-btn-text">
                            ГСМ
                        </div>

                    </div>
                    <div class="tenders__accordion-content js-accordion-content">
                        <div class="tenders__accordion-content-inner">
                            <ul class="tenders__list">
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки КЩМ
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки МБС
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Перчатки прорезиненные
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Респираторы У2К
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Респиратор Кама-100(Бриз)
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Брюки ватные
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Ботинки
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                                <li class="tenders__list-item">
                                    <div class="tenders__card">
                                        <h4 class="tenders__card-title">
                                            Сапоги кирзовые
                                        </h4>
                                        <div class="tenders__card-price">
                                            18 ₽ / шт.
                                        </div>
                                        <a href="#" class="tenders__card-link">
                                            подать заявку
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Карьера
                </h2>
                <div class="contact-us__form">
                    <h3 class="contacts-us__form-heading">
                        Приглашаем на работу
                    </h3>
                    <ul class="contacts-us__vacancies-list">
                        <li class="contacts-us__vacancies-list-item">
                            <div class="contacts-us__vacancies-card">
                                <h4 class="contacts-us__vacancies-card-title">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-ok">
                                        <use xlink:href="#ok"></use>
                                    </svg>
                                    Доставка до места работы и обратно
                                </h4>
                            </div>
                        </li>
                        <li class="contacts-us__vacancies-list-item">
                            <div class="contacts-us__vacancies-card">
                                <h4 class="contacts-us__vacancies-card-title">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-ok">
                                        <use xlink:href="#ok"></use>
                                    </svg>
                                    Оформление по Трудовому кодексу
                                </h4>
                            </div>
                        </li>
                        <li class="contacts-us__vacancies-list-item">
                            <div class="contacts-us__vacancies-card">
                                <h4 class="contacts-us__vacancies-card-title">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-ok">
                                        <use xlink:href="#ok"></use>
                                    </svg>
                                    Соц. пакет:
                                </h4>
                                <ul class="contacts-us__vacancies-card-list">
                                    <li class="contacts-us__vacancies-card-list-item">
                                        материальная помощь к ежегодному оплачиваемому отпуску
                                    </li>
                                    <li class="contacts-us__vacancies-card-list-item">
                                        тринадцатая заработная плата
                                    </li>
                                    <li class="contacts-us__vacancies-card-list-item">
                                        частичная компенсация комплексного питания
                                    </li>
                                    <li class="contacts-us__vacancies-card-list-item">
                                        бесплатная спецодежда.
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="contacts-us__links">
                        <a href="#" class="contacts-us__link contacts-us__link--filled">
                            Отправить резюме
                        </a>
                        <a href="#" class="contacts-us__link">
                            Посмотреть вакансии
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/career.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}