{{#extend "layout"}}
{{#content "main"}}


<section class="standard-header">
    <div class="container">
        <div class="standard-header__clipper">
            <div class="standard-header__content">
                <div class="standard-header__logo-wrapper">
                    <a href="#" class="standard-header__logo">
                        <img src="img/logo.svg" alt="" class="standard-header__logo-image">
                        <div class="standard-header__logo-text">
                            МАРИЙСКИЙ ЗАВОД<br>
                            СИЛИКАТНОГО<br>
                            КИРПИЧА
                        </div>
                    </a>
                </div>
                <div class="standard-header__breadcrumbs">
                    <a href="#">
                        Главная
                        <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                            <use xlink:href="#breadcrumbs-arrow"></use>
                        </svg>
                    </a>
                    <a href="#" class="active">
                        Контакты
                        <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                            <use xlink:href="#breadcrumbs-arrow"></use>
                        </svg>
                    </a>
                </div>
                <h1 class="standard-header__main-heading">
                    Контакты
                </h1>

            </div>
        </div>
    </div>
</section>




<section class="contacts">
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__top-wrapper">


                <div class="contacts__map-wrapper js-map" data-center="56.391810, 48.185695"
                    data-coords="56.391810, 48.185695" data-zoom="12" data-pin="img/pin.svg">
                    <div class="contacts__map js-map-element">

                    </div>
                </div>
                <div class="contacts__panel">
                    <a href="tel:+7362536724" class="contacts__panel-phone">8 (362) 53-67-24</a>
                    <div class="contacts__panel-address">
                        424910, Республика Марий Эл,<br> Медведевский р-н, п.Силикатный ул.Мира,1
                    </div>
                    <a href="mailto:zaomzsk12@gmail.com" class="contacts__panel-email">zaomzsk12@gmail.com</a>

                    <div class="contacts__panel-social-links">
                        <a href="#" class="contacts__panel-social-link contacts__panel-social-link--green">
                            <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                        <a href="#" class="contacts__panel-social-link contacts__panel-social-link--blue">
                            <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts__info">
                <div class="contacts__info-inner">
                    <div class="contacts__blocks">
                        <div class="contacts__block">
                            <h3 class="contacts__block-heading">
                                Информация о телефонах и факсах отделов предприятия:
                            </h3>
                            <div class="contacts__block-ceo">
                                <div class="contacts__block-ceo-name">
                                    Приемная Генерального директора Моисеева Алексея Ивановича
                                </div>
                                <div class="contacts__block-ceo-phones">
                                    <a href="tel:+78362536724" class="contacts__block-ceo-phone">
                                        <span class="contacts__block-ceo-phone-title">
                                            Телефон
                                        </span>
                                        (8362) 53-67-24
                                    </a>
                                    <a href="tel:+78362536854" class="contacts__block-ceo-phone">
                                        <span class="contacts__block-ceo-phone-title">
                                            Факс
                                        </span>
                                        (8362) 53-68-54
                                    </a>
                                </div>

                            </div>
                            <ul class="contacts__phones-list">
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Москвин Яков Александрович
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            Зам. Генерального директора по коммерческим вопросам
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-67-24" class="contacts__phones-card-phone">(8362)
                                                53-67-24</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Бусыгина Екатерина Викторовна
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            Начальник финансово-сбытового отдела
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-67-34" class="contacts__phones-card-phone">(8362)
                                                53-67-34</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Савельева Нина Анатольевна
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            Начальник материально-технического снабжения
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-67-29" class="contacts__phones-card-phone">(8362)
                                                53-67-29</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Ширшова Галина Вениаминовна
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            Главный бухгалтер
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-66-96" class="contacts__phones-card-phone">(8362)
                                                53-66-96</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Ермолаева Анна Александровна
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            Юрисконсульт
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-67-30" class="contacts__phones-card-phone">(8362)
                                                53-67-30</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Акулова Лилия Навиловна
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            Начальник производственно-технического отдела
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-67-24" class="contacts__phones-card-phone">(8362)
                                                53-67-24</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Кульпина Светлана Дмитриевна
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            Начальник Отдела по техническому контролю
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-67-10" class="contacts__phones-card-phone">(8362)
                                                53-67-10</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Погрузо-разгрузочный участок
                                        </div>

                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-67-36" class="contacts__phones-card-phone">(8362)
                                                53-67-36</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Бухгалтерия
                                        </div>

                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 53-66-70" class="contacts__phones-card-phone">факс:
                                                (8362) 53-66-70</a>
                                            <a href="tel:(8362) 53-67-33" class="contacts__phones-card-phone">(8362)
                                                53-67-33</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="contacts__block">
                            <h3 class="contacts__block-heading">
                                Реквизиты
                            </h3>
                            <div class="contacts__block-requisites-wrapper">
                                <ul class="contacts__block-requisites-list">
                                    <li class="contacts__block-requisites-list-item">
                                        <div class="contacts__block-requisites-card">
                                            <div class="contacts__block-requisites-card-title">
                                                КПП
                                            </div>
                                            <div class="contacts__block-requisites-card-text">
                                                120701001
                                            </div>
                                        </div>
                                    </li>
                                    <li class="contacts__block-requisites-list-item">
                                        <div class="contacts__block-requisites-card">
                                            <div class="contacts__block-requisites-card-title">
                                                ОКПО
                                            </div>
                                            <div class="contacts__block-requisites-card-text">
                                                120701001
                                            </div>
                                        </div>
                                    </li>
                                    <li class="contacts__block-requisites-list-item">
                                        <div class="contacts__block-requisites-card">
                                            <div class="contacts__block-requisites-card-title">
                                                ОГРН
                                            </div>
                                            <div class="contacts__block-requisites-card-text">
                                                1031200423044
                                            </div>
                                        </div>
                                    </li>
                                    <li class="contacts__block-requisites-list-item">
                                        <div class="contacts__block-requisites-card">
                                            <div class="contacts__block-requisites-card-title">
                                                БИК
                                            </div>
                                            <div class="contacts__block-requisites-card-text">
                                                048860630
                                            </div>
                                        </div>
                                    </li>
                                    <li class="contacts__block-requisites-list-item">
                                        <div class="contacts__block-requisites-card">
                                            <div class="contacts__block-requisites-card-title">
                                                ОКВЭД
                                            </div>
                                            <div class="contacts__block-requisites-card-text">
                                                26.82
                                            </div>
                                        </div>
                                    </li>
                                    <li class="contacts__block-requisites-list-item">
                                        <div class="contacts__block-requisites-card">
                                            <div class="contacts__block-requisites-card-title">
                                                К/С
                                            </div>
                                            <div class="contacts__block-requisites-card-text">
                                                30101810300000000630
                                            </div>
                                        </div>
                                    </li>
                                    <li class="contacts__block-requisites-list-item">
                                        <div class="contacts__block-requisites-card">
                                            <div class="contacts__block-requisites-card-title">
                                                ИНН
                                            </div>
                                            <div class="contacts__block-requisites-card-text">
                                                1215089850
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="contacts__block-accounts-list">
                                    <li class="contacts__block-acccounts-list-item">
                                        <div class="contacts__block-accounts-card">
                                            <div class="contacts__block-accounts-card-title">
                                                Р/С
                                            </div>
                                            <div class="contacts__block-accounts-card-text">
                                                40702810737180104752 в Отделении №8614<br> Сбербанка России г.Йошкар-Ола,
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>



                        </div>
                        <div class="contacts__block">
                            <h3 class="contacts__block-heading">
                                Партнеры
                            </h3>

                            <ul class="contacts__phones-list">
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Партнер в г.Йошкар-Ола
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            424000, Россия, Республика Марий Эл, г. Йошкар-Ола, ул. Льва Толстого, д. 62
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 46-99-98" class="contacts__phones-card-phone">(8362)
                                                46-99-98</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Партнер в г.Йошкар-Ола
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            424000, Россия, Республика Марий Эл, г. Йошкар-Ола, ул. Льва Толстого, д. 62
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:(8362) 23-22-30" class="contacts__phones-card-phone">(8362)
                                                23-22-30</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="contacts__phones-list-item">
                                    <div class="contacts__phones-card">
                                        <div class="contacts__phones-card-name">
                                            Партнер в г.Казани ООО "МЗСК-КАЗАНЬ"
                                        </div>
                                        <div class="contacts__phones-card-role">
                                            420094,Республика Татарстан, г.Казань, ул. Вишневского, д. 51 (вход со
                                            двора)
                                        </div>
                                        <div class="contacts__phones-card-phones">
                                            <a href="tel:8 (843) 264-55-15" class="contacts__phones-card-phone">8 (843)
                                                264-55-15</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Есть вопросы?
                </h2>
                <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                    <h3 class="contacts-us__form-heading">
                        Напишите нам, наши менеджеры свяжутся с&nbsp;вами в самое ближайшее время
                    </h3>
                    <div class="contacts-us__form-fields">
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Имя" required="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="tel" class="contacts-us__form-input js-phone-input" placeholder="Телефон"
                                required="" data-parsley-phone="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Вопрос (необязательно)">
                        </div>
                    </div>
                    <div class="contacts-us__form-controls">
                        <button type="submit" class="contacts-us__form-submit">
                            Отправить
                        </button>
                        <div class="contacts-us__form-policy">
                            Нажимая “Отправить” вы соглашаетесь <a href="#">с политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/contact-us.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}