{{#extend "layout"}}
{{#content "main"}}



<section class="standard-header standard-header--large">
    <div class="container">
        <div class="standard-header__content">
            <div class="standard-header__bg" style="--overlay-opacity: 0;">
                <img src="img/houses-intro.jpg" alt="" class="standard-header__bg-image">
            </div>
            <a href="#" class="standard-header__logo">
                <img src="img/logo.svg" alt="" class="standard-header__logo-image">
                <div class="standard-header__logo-text">
                    МАРИЙСКИЙ ЗАВОД<br>
                    СИЛИКАТНОГО<br>
                    КИРПИЧА
                </div>
            </a>
            <div class="standard-header__breadcrumbs">
                <a href="#">
                    Главная
                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                        <use xlink:href="#breadcrumbs-arrow"></use>
                    </svg>
                </a>
                <a href="#" class="active">
                    Индивидуальное жилищное строительство
                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                        <use xlink:href="#breadcrumbs-arrow"></use>
                    </svg>
                </a>

            </div>
            <h1 class="standard-header__main-heading">
                Индивидуальное жилищное строительство
            </h1>
            <div class="standard-header__text">
                В условиях электромагнитных помех, неизбежных при полевых измерениях, не всегда можно опредлить, когда
                именно изменение глобальной стратегии последовательно тормозит спиральный жизненный цикл продукции.
            </div>
            <a href="#" class="standard-header__link">
                Задать вопрос
            </a>

        </div>
    </div>
</section>

<section class="houses js-block-to-reveal">
    <div class="container">
        <div class="houses__intro">
            <h2 class="houses__intro-heading">
                Качественные дома
            </h2>
            <div class="houses__intro-text">
                В условиях электромагнитных помех, неизбежных при полевых измерениях, не всегда можно опредлить, когда
                именно изменение глобальной стратегии последовательно тормозит спиральный жизненный цикл продукции.
                Медиамикс, как следует из вышесказанного, сознательно создает внутримолекулярный солитон.
            </div>
        </div>

    </div>
</section>

<section class="solutions solutions--light js-block-to-reveal">
    <div class="container">
        <div class="solutions__content">
            <div class="solutions__top">
                <h2 class="solutions__heading">
                    Готовые решения<br> по ИЖС
                </h2>
                <div class="solutions__top-col">
                    <h3 class="solutions__inner-heading">
                        Получите готовый проект дома уже завтра!
                    </h3>
                </div>
                <div class="solutions__top-col">
                    <ul class="solutions__advantages-list">
                        <li class="solutions__advantages-list-item">
                            <div class="solutions__advantages-card">
                                <h4 class="solutions__advantages-card-title">
                                    Гарант качества
                                </h4>
                                <img src="img/solutions/1-blue.svg" alt="" class="solutions__advantages-card-icon">
                                <div class="solutions__advantages-card-text">
                                    Гарантом качества материала выступает сам завод-производитель
                                </div>
                            </div>
                        </li>
                        <li class="solutions__advantages-list-item">
                            <div class="solutions__advantages-card">
                                <h4 class="solutions__advantages-card-title">
                                    Поставка материалов
                                </h4>
                                <img src="img/solutions/2-blue.svg" alt="" class="solutions__advantages-card-icon">
                                <div class="solutions__advantages-card-text">
                                    Все клиенты по ИЖС находятся в приоритете поставки материалов
                                </div>
                            </div>
                        </li>
                        <li class="solutions__advantages-list-item">
                            <div class="solutions__advantages-card">
                                <h4 class="solutions__advantages-card-title">
                                    Экономия до 50%
                                </h4>
                                <img src="img/solutions/3-blue.svg" alt="" class="solutions__advantages-card-icon">
                                <div class="solutions__advantages-card-text">
                                    Сокращение итоговой стоимости за счет использования своих материалов
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="solutions__projects">
                <ul class="solutions__projects-list">
                    <li class="solutions__projects-list-item">
                        <div class="solutions__projects-card">
                            <div class="solutions__projects-card-image-container">
                                <img src="img/projects/3.jpg" alt="" class="solutions__projects-card-image">
                            </div>
                            <div class="solutions__projects-card-content">
                                <h3 class="solutions__projects-card-title">
                                    Архитектурное решение №1
                                </h3>
                                <div class="solutions__projects-card-text">
                                    Прекрасная Вилла в Итальянском стиле. Отличное сочетание с виноградным краем
                                    Абрау-Дюрсо.
                                </div>
                                <ul class="solutions__projects-card-features-list">
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Площадь дома
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                260 м2
                                            </div>
                                        </div>
                                    </li>
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Количество спален
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                3
                                            </div>
                                        </div>
                                    </li>
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Размер участка
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                10 соток
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="solutions__projects-card-price-block">
                                    <div class="solutions__projects-card-price">
                                        <div class="solutions__projects-card-price-title">
                                            Стоимость
                                        </div>
                                        <div class="solutions__projects-card-price-amount">
                                            11 890 000 ₽
                                        </div>
                                    </div>
                                    <a href="#" class="solutions__projects-card-details-link">
                                        Смотреть проект
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="solutions__projects-list-item">
                        <div class="solutions__projects-card">
                            <div class="solutions__projects-card-image-container">
                                <img src="img/projects/4.jpg" alt="" class="solutions__projects-card-image">
                            </div>
                            <div class="solutions__projects-card-content">
                                <h3 class="solutions__projects-card-title">
                                    Архитектурное решение №2
                                </h3>
                                <div class="solutions__projects-card-text">
                                    Прекрасная Вилла в Итальянском стиле. Отличное сочетание с виноградным краем
                                    Абрау-Дюрсо.
                                </div>
                                <ul class="solutions__projects-card-features-list">
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Площадь дома
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                260 м2
                                            </div>
                                        </div>
                                    </li>
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Количество спален
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                3
                                            </div>
                                        </div>
                                    </li>
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Размер участка
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                10 соток
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="solutions__projects-card-price-block">
                                    <div class="solutions__projects-card-price">
                                        <div class="solutions__projects-card-price-title">
                                            Стоимость
                                        </div>
                                        <div class="solutions__projects-card-price-amount">
                                            11 890 000 ₽
                                        </div>
                                    </div>
                                    <a href="#" class="solutions__projects-card-details-link">
                                        Смотреть проект
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="solutions__projects-list-item">
                        <div class="solutions__projects-card">
                            <div class="solutions__projects-card-image-container">
                                <img src="img/projects/5.jpg" alt="" class="solutions__projects-card-image">
                            </div>
                            <div class="solutions__projects-card-content">
                                <h3 class="solutions__projects-card-title">
                                    Архитектурное решение №3
                                </h3>
                                <div class="solutions__projects-card-text">
                                    Прекрасная Вилла в Итальянском стиле. Отличное сочетание с виноградным краем
                                    Абрау-Дюрсо.
                                </div>
                                <ul class="solutions__projects-card-features-list">
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Площадь дома
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                260 м2
                                            </div>
                                        </div>
                                    </li>
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Количество спален
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                3
                                            </div>
                                        </div>
                                    </li>
                                    <li class="solutions__projects-card-features-list-item">
                                        <div class="solutions__projects-card-features-card">
                                            <div class="solutions__projects-card-features-card-key">
                                                Размер участка
                                            </div>
                                            <div class="solutions__projects-card-features-card-value">
                                                10 соток
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="solutions__projects-card-price-block">
                                    <div class="solutions__projects-card-price">
                                        <div class="solutions__projects-card-price-title">
                                            Стоимость
                                        </div>
                                        <div class="solutions__projects-card-price-amount">
                                            11 890 000 ₽
                                        </div>
                                    </div>
                                    <a href="#" class="solutions__projects-card-details-link">
                                        Смотреть проект
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="projects-slider js-projects-slider js-block-to-reveal">
    <div class="container">
        <div class="projects-slider__content">


            <div class="projects-slider__top">
                <h2 class="projects-slider__small-heading">
                    Реализованные<br> проекты
                </h2>
                <h3 class="projects-slider__large-heading">
                    Все реализованные проекты доступны для заказа
                </h3>
                <a href="#" class="projects-slider__show-all">
                    Смотреть все
                </a>
            </div>
            <div class="projects-slider__bottom">
                <div class="projects-slider__controls">
                    <div class="projects-slider__arrows">
                        <button class="projects-slider__arrow projects-slider__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="projects-slider__arrow projects-slider__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="projects-slider__wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="project-card">
                                    <h4 class="project-card__title">
                                        Проект 03088
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </h4>
                                    <div class="project-card__specs">
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Площадь дома
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                260 м2
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Размер участка
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                10 соток
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Количество спален
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__image-container">
                                        <img data-src="img/realised-projects/3.jpg" alt=""
                                            class="project-card__image lazyload">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="project-card">
                                    <h4 class="project-card__title">
                                        Проект 03041
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </h4>
                                    <div class="project-card__specs">
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Площадь дома
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                260 м2
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Размер участка
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                10 соток
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Количество спален
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__image-container">
                                        <img data-src="img/realised-projects/4.jpg" alt=""
                                            class="project-card__image lazyload">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="project-card">
                                    <h4 class="project-card__title">
                                        Проект 03056
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </h4>
                                    <div class="project-card__specs">
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Площадь дома
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                260 м2
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Размер участка
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                10 соток
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Количество спален
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__image-container">
                                        <img data-src="img/realised-projects/5.jpg" alt=""
                                            class="project-card__image lazyload">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Ипотека
                </h2>
                <div class="contact-us__form">
                    <h3 class="contacts-us__form-heading">
                        Ипотека – это просто! Оформи заявку в офисе партнера.
                    </h3>
                    <ul class="contacts-us__rules-list">
                        <li class="contacts-us__rules-list-item">
                            <div class="contacts-us__rules-card">
                                <div class="contacts-us__card-key">
                                    Минимальная сумма кредита:
                                </div>
                                <div class="contacts-us__card-value">
                                    300 000 ₽
                                </div>
                            </div>
                        </li>
                        <li class="contacts-us__rules-list-item">
                            <div class="contacts-us__rules-card">
                                <div class="contacts-us__card-key">
                                    Превоначальный взнос:
                                </div>
                                <div class="contacts-us__card-value">
                                    от 25%
                                </div>
                            </div>
                        </li>
                        <li class="contacts-us__rules-list-item">
                            <div class="contacts-us__rules-card">
                                <div class="contacts-us__card-key">
                                    Процентная ставка:
                                </div>
                                <div class="contacts-us__card-value">
                                    от 8,8%
                                </div>
                            </div>
                        </li>
                        <li class="contacts-us__rules-list-item">
                            <div class="contacts-us__rules-card">
                                <div class="contacts-us__card-key">
                                    Срок кредита:
                                </div>
                                <div class="contacts-us__card-value">
                                    до 30 лет
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="contacts-us__links">
                        <a href="#" class="contacts-us__link contacts-us__link--filled">
                            Получить консультацию
                        </a>
                        <a href="#" class="contacts-us__link">
                            Узнать больше
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/contact-us.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}