{{#extend "layout"}}
{{#content "main"}}



<section class="standard-header standard-header--large js-shrink-on-scroll">
    <div class="container">
        <div class="standard-header__clipper">
            <div class="standard-header__content standard-header__content--stretched">
                <div class="standard-header__bg standard-header__bg--gradient-overlay" style="--overlay-opacity: 1;">
                    <img src="img/house-intro.jpg" alt="" class="standard-header__bg-image">
                </div>
                <div class="standard-header__logo-wrapper">
                    <a href="#" class="standard-header__logo">
                        <img src="img/logo.svg" alt="" class="standard-header__logo-image">
                        <div class="standard-header__logo-text">
                            МАРИЙСКИЙ ЗАВОД<br>
                            СИЛИКАТНОГО<br>
                            КИРПИЧА
                        </div>
                    </a>
                </div>
                <div class="standard-header__detail-page-row">
                    <a href="#" class="standard-header__back-btn">
                        <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                            <use xlink:href="#breadcrumbs-arrow"></use>
                        </svg>
                        Назад
                    </a>
                    <h1 class="standard-header__detail-page-main-heading">
                        Вилла в итальянском стиле
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="house js-block-to-reveal">
    <div class="container">
        <div class="house__content">

            <h2 class="house__small-heading">
                Готовое решение
            </h2>

            <div class="house__desc">
                <div class="house__intro-desc-text">
                    <p>
                        Прекрасная Вилла в Итальянском стиле. Отличное сочетание с виноградным краем Абрау-Дюрсо.
                    </p>
                </div>
                <ul class="house__advantages">
                    <li class="house__advantages-list-item">
                        <div class="house__advantages-card">
                            <div class="house__advantages-card-key">
                                Срок возведения
                            </div>
                            <div class="house__advantages-card-value">
                                1 год
                            </div>
                        </div>
                    </li>
                    <li class="house__advantages-list-item">
                        <div class="house__advantages-card">
                            <div class="house__advantages-card-key">
                                Второе преимущество
                            </div>
                            <div class="house__advantages-card-value">
                                >100 лет
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="house__order">
                <div class="house__price">
                    <div class="house__price-text">
                        Стоимость проекта
                    </div>
                    <div class="house__price-amount">
                        3 120 000 ₽
                    </div>
                </div>
                <div class="house__btns">
                    <a href="#order-product" class="house__btn house__btn--filled">
                        Заказать
                    </a>
                    <a href="#" class="house__btn">
                        Получить консультацию
                    </a>
                </div>
            </div>
            <div class="house__slider js-house-slider">
                <div class="house__slider-main">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="house__slider-main-card">
                                    <img src="img/house-slider/1.jpg" alt="" class="house__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="house__slider-main-card">
                                    <img src="img/house-slider/2.jpg" alt="" class="house__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="house__slider-main-card">
                                    <img src="img/house-slider/1.jpg" alt="" class="house__slider-main-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="house__slider-main-card">
                                    <img src="img/house-slider/2.jpg" alt="" class="house__slider-main-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="house__slider-arrows">
                        <button class="house__slider-arrow house__slider-arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-house-slider-arrow-left">
                                <use xlink:href="#house-slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="house__slider-arrow house__slider-arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-house-slider-arrow-right">
                                <use xlink:href="#house-slider-arrow-right"></use>
                            </svg>
                        </button>

                    </div>
                </div>
                <div class="house__slider-text">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="house__slider-text-card">
                                    <p>
                                        Описательный текст<br>Фундамент – Песчанно-щебеночная подушка 400/100,
                                        монолитная плита 200мм, двойное армирование 200×200 (арматура 12мм), ж/б
                                        ростверки под монтаж несущих конструкций h=200мм;
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="house__slider-text-card">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam quaerat deserunt
                                        tempora! Placeat, veniam explicabo laudantium eum molestias reiciendis nemo
                                        dolor harum vitae officiis magni sequi, temporibus delectus natus libero.
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="house__slider-text-card">
                                    <p>
                                        Описательный текст<br>Фундамент – Песчанно-щебеночная подушка 400/100,
                                        монолитная плита 200мм, двойное армирование 200×200 (арматура 12мм), ж/б
                                        ростверки под монтаж несущих конструкций h=200мм;
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="house__slider-text-card">
                                    <p>
                                        Описательный текст<br>Фундамент – Песчанно-щебеночная подушка 400/100,
                                        монолитная плита 200мм, двойное армирование 200×200 (арматура 12мм), ж/б
                                        ростверки под монтаж несущих конструкций h=200мм;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="house__specs">
                <ul class="house__specs-list">
                    <li class="house__specs-list-item">
                        <div class="house__specs-block">
                            <h3 class="house__specs-block-heading">
                                Дом
                                273.7 м³
                            </h3>
                            <ul class="house__specs-block-list">
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Метраж
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            260 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Материал
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Камень
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Проживание
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Постоянное
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Коммуникации
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Внутри
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="house__specs-list-item">
                        <div class="house__specs-block">
                            <h3 class="house__specs-block-heading">
                                Отделка
                            </h3>
                            <ul class="house__specs-block-list">
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Внешняя
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            260 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Внутренняя

                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-included">
                                                <use xlink:href="#included"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            С мебелью
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Доп. опция
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="house__specs-list-item">
                        <div class="house__specs-block">
                            <h3 class="house__specs-block-heading">
                                Коммуникации
                            </h3>
                            <ul class="house__specs-block-list">
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Отопление
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-included">
                                                <use xlink:href="#included"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Электричество
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-included">
                                                <use xlink:href="#included"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Горячее водоснабжение
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-included">
                                                <use xlink:href="#included"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Холодное водоснабжение
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-included">
                                                <use xlink:href="#included"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Вентиляция
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Доп. опция
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Кондиционирование
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Доп. опция
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Канализация
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-included">
                                                <use xlink:href="#included"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Солнечные панели
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Доп. опция
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="house__specs-list-item">
                        <div class="house__specs-block">
                            <h3 class="house__specs-block-heading">
                                Участок
                            </h3>
                            <ul class="house__specs-block-list">
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Прощадь участка
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            10 соток
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Забор
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-included">
                                                <use xlink:href="#included"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Ворота
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-included">
                                                <use xlink:href="#included"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="house__specs-list-item">
                        <div class="house__specs-block">
                            <h3 class="house__specs-block-heading">
                                Дом
                                273.7 м³
                            </h3>
                            <ul class="house__specs-block-list">
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Метраж
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            260 м2
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Материал
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Камень
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Проживание
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Постоянное
                                        </div>
                                    </div>
                                </li>
                                <li class="house__specs-block-list-item">
                                    <div class="house__specs-block-card">
                                        <h4 class="house__specs-block-card-title">
                                            Коммуникации
                                        </h4>
                                        <div class="house__specs-block-card-value">
                                            Внутри
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <a href="#" class="house__specs-show-more js-show-all">
                    показать все параметры
                </a>
            </div>

        </div>
    </div>
</section>



<section class="projects-slider js-projects-slider js-block-to-reveal">
    <div class="container">
        <div class="projects-slider__content">
            <div class="projects-slider__top">
                <h2 class="projects-slider__small-heading">
                    Реализованные<br> проекты
                </h2>
                <h3 class="projects-slider__large-heading">
                    Не подошел проект? подберите альтернативный
                </h3>
                <a href="#" class="projects-slider__show-all">
                    Смотреть все
                </a>
            </div>
            <div class="projects-slider__bottom">
                <div class="projects-slider__controls">
                    <div class="projects-slider__arrows">
                        <button class="projects-slider__arrow projects-slider__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="projects-slider__arrow projects-slider__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="projects-slider__wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="project-card">
                                    <h4 class="project-card__title">
                                        Проект 03088
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </h4>
                                    <div class="project-card__specs">
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Площадь дома
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                260 м2
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Размер участка
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                10 соток
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Количество спален
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__image-container">
                                        <img data-src="img/realised-projects/3.jpg" alt=""
                                            class="project-card__image lazyload">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="project-card">
                                    <h4 class="project-card__title">
                                        Проект 03041
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </h4>
                                    <div class="project-card__specs">
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Площадь дома
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                260 м2
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Размер участка
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                10 соток
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Количество спален
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__image-container">
                                        <img data-src="img/realised-projects/4.jpg" alt=""
                                            class="project-card__image lazyload">
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="project-card">
                                    <h4 class="project-card__title">
                                        Проект 03056
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </h4>
                                    <div class="project-card__specs">
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Площадь дома
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                260 м2
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Размер участка
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                10 соток
                                            </div>
                                        </div>
                                        <div class="project-card__specs-item">
                                            <div class="project-card__specs-item-key">
                                                Количество спален
                                            </div>
                                            <div class="project-card__specs-item-value">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__image-container">
                                        <img data-src="img/realised-projects/5.jpg" alt=""
                                            class="project-card__image lazyload">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Есть вопросы?
                </h2>
                <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                    <h3 class="contacts-us__form-heading">
                        Напишите нам, наши менеджеры свяжутся с&nbsp;вами в самое ближайшее время
                    </h3>
                    <div class="contacts-us__form-fields">
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Имя" required="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="tel" class="contacts-us__form-input js-phone-input" placeholder="Телефон"
                                required="" data-parsley-phone="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Вопрос (необязательно)">
                        </div>
                    </div>
                    <div class="contacts-us__form-controls">
                        <button type="submit" class="contacts-us__form-submit">
                            Отправить
                        </button>
                        <div class="contacts-us__form-policy">
                            Нажимая “Отправить” вы соглашаетесь <a href="#">с политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/contact-us.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}