{{#extend "layout"}}
{{#content "main"}}



<section class="standard-header">
    <div class="container">
        <div class="standard-header__content">
            <div class="standard-header__bg" style="--overlay-opacity: 0.2;">
                <img src="img/mortgage.jpg" alt="" class="standard-header__bg-image">
            </div>
            <a href="#" class="standard-header__logo">
                <img src="img/logo.svg" alt="" class="standard-header__logo-image">
                <div class="standard-header__logo-text">
                    МАРИЙСКИЙ ЗАВОД<br>
                    СИЛИКАТНОГО<br>
                    КИРПИЧА
                </div>
            </a>
            <div class="standard-header__breadcrumbs">
                <a href="#">
                    Главная
                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                        <use xlink:href="#breadcrumbs-arrow"></use>
                    </svg>
                </a>
                <a href="#">
                    Индивидуальное жилищное строительство
                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                        <use xlink:href="#breadcrumbs-arrow"></use>
                    </svg>
                </a>
                <a href="#" class="active">
                    Ипотека
                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                        <use xlink:href="#breadcrumbs-arrow"></use>
                    </svg>
                </a>
            </div>
            <h1 class="standard-header__main-heading">
                Ипотека
            </h1>

        </div>
    </div>
</section>

<section class="mortgage js-block-to-reveal">
    <div class="container">
        <div class="mortgage__intro">
            <h2 class="mortgage__heading">
                выгодная ипотека
            </h2>
            <div class="mortgage__text">
                <p>
                    В условиях электромагнитных помех, неизбежных при полевых измерениях, не всегда можно опредлить,
                    когда именно изменение глобальной стратегии последовательно тормозит спиральный жизненный цикл
                    продукции. Медиамикс, как следует из вышесказанного, сознательно создает внутримолекулярный солитон.
                </p>
            </div>
            <ul class="mortgage__list">
                <li class="mortgage__list-item">
                    <div class="mortgage__card">
                        <h3 class="mortgage__card-title">
                            Минимальная сумма кредита:
                        </h3>
                        <div class="mortgage__card-value">
                            300 000 ₽
                        </div>
                    </div>
                </li>
                <li class="mortgage__list-item">
                    <div class="mortgage__card">
                        <h3 class="mortgage__card-title">
                            Процентная ставка:
                        </h3>
                        <div class="mortgage__card-value">
                            от 8,8%
                        </div>
                    </div>
                </li>
                <li class="mortgage__list-item">
                    <div class="mortgage__card">
                        <h3 class="mortgage__card-title">
                            Срок кредита:
                        </h3>
                        <div class="mortgage__card-value">
                            до 30 лет
                        </div>
                    </div>
                </li>
                <li class="mortgage__list-item">
                    <div class="mortgage__card">
                        <h3 class="mortgage__card-title">
                            Превоначальный взнос:
                        </h3>
                        <div class="mortgage__card-value">
                            от 25%
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="mortgage__conditions">
            <ul class="mortgage__conditions-list">
                <li class="mortgage__conditions-list-item">
                    <div class="mortgage__conditions-accordion js-accordion">
                        <div class="mortgage__conditions-accordion-btn js-accordion-btn">
                            <div class="mortgage__conditions-accordion-btn-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="mortgage__conditions-accordion-btn-text">
                                Условия ипотеки
                            </div>
                        </div>
                        <div class="mortgage__conditions-accordion-content js-accordion-content">
                            <div class="mortgage__conditions-accordion-content-inner">
                                <p>
                                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                    Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового
                                    океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
                                    необходимыми правилами.
                                </p>
                                <p>
                                    Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных
                                    точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных
                                    букв, подпоясал инициал за пояс и пустился в дорогу. Грустный реторический вопрос
                                    скатился по его щеке. По дороге встретил текст рукопись.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mortgage__conditions-list-item">
                    <div class="mortgage__conditions-accordion js-accordion">
                        <div class="mortgage__conditions-accordion-btn js-accordion-btn">
                            <div class="mortgage__conditions-accordion-btn-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="mortgage__conditions-accordion-btn-text">
                                Максимальная сумма кредита
                            </div>
                        </div>
                        <div class="mortgage__conditions-accordion-content js-accordion-content">
                            <div class="mortgage__conditions-accordion-content-inner">
                                <p>
                                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                    Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового
                                    океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
                                    необходимыми правилами.
                                </p>
                                <p>
                                    Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных
                                    точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных
                                    букв, подпоясал инициал за пояс и пустился в дорогу. Грустный реторический вопрос
                                    скатился по его щеке. По дороге встретил текст рукопись.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mortgage__conditions-list-item">
                    <div class="mortgage__conditions-accordion js-accordion">
                        <div class="mortgage__conditions-accordion-btn js-accordion-btn">
                            <div class="mortgage__conditions-accordion-btn-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="mortgage__conditions-accordion-btn-text">
                                Обеспечение по кредиту
                            </div>
                        </div>
                        <div class="mortgage__conditions-accordion-content js-accordion-content">
                            <div class="mortgage__conditions-accordion-content-inner">
                                <p>
                                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                    Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового
                                    океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
                                    необходимыми правилами.
                                </p>
                                <p>
                                    Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных
                                    точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных
                                    букв, подпоясал инициал за пояс и пустился в дорогу. Грустный реторический вопрос
                                    скатился по его щеке. По дороге встретил текст рукопись.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mortgage__conditions-list-item">
                    <div class="mortgage__conditions-accordion js-accordion">
                        <div class="mortgage__conditions-accordion-btn js-accordion-btn">
                            <div class="mortgage__conditions-accordion-btn-icon">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </div>
                            <div class="mortgage__conditions-accordion-btn-text">
                                Страхование
                            </div>
                        </div>
                        <div class="mortgage__conditions-accordion-content js-accordion-content">
                            <div class="mortgage__conditions-accordion-content-inner">
                                <p>
                                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                    Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового
                                    океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
                                    необходимыми правилами.
                                </p>
                                <p>
                                    Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных
                                    точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных
                                    букв, подпоясал инициал за пояс и пустился в дорогу. Грустный реторический вопрос
                                    скатился по его щеке. По дороге встретил текст рукопись.
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Есть вопросы?
                </h2>
                <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                    <h3 class="contacts-us__form-heading">
                        Напишите нам, наши менеджеры свяжутся с&nbsp;вами в самое ближайшее время
                    </h3>
                    <div class="contacts-us__form-fields">
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Имя" required="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="tel" class="contacts-us__form-input js-phone-input" placeholder="Телефон"
                                required="" data-parsley-phone="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Вопрос (необязательно)">
                        </div>
                    </div>
                    <div class="contacts-us__form-controls">
                        <button type="submit" class="contacts-us__form-submit">
                            Отправить
                        </button>
                        <div class="contacts-us__form-policy">
                            Нажимая “Отправить” вы соглашаетесь <a href="#">с политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/contact-us.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}