{{#extend "layout"}}
{{#content "main"}}



<section class="standard-header standard-header--simple-dark">
    <div class="container">
        <div class="standard-header__clipper">
            <div class="standard-header__content">
                <div class="standard-header__logo-wrapper">
                    <a href="#" class="standard-header__logo">
                        <img src="img/logo-dark.svg" alt="" class="standard-header__logo-image">
                        <div class="standard-header__logo-text">
                            МАРИЙСКИЙ ЗАВОД<br>
                            СИЛИКАТНОГО<br>
                            КИРПИЧА
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-single">
    <div class="container">
        <div class="news-single__content">
            <a href="#" class="news-single__back">
                <svg width="14" height="14" aria-hidden="true" class="icon-back-arrow">
                    <use xlink:href="#back-arrow"></use>
                </svg>
                Все новости
            </a>
            <div class="news-single__main-info">
                <h1 class="news-single__main-heading">
                    МЗСК — победитель конкурса «Лучшие товары Республики Марий Эл»
                </h1>
                <div class="news-single__date">
                    <div class="news-single__date-day">
                        31
                    </div>
                    <div class="news-single__date-month">
                        октября<br>
                        2022
                    </div>
                </div>
            </div>
            <div class="news-single__text-content">
                <img src="img/news-single.jpg" alt="">
                <p>
                    В итоге победителями признаны 15 организаций. Все они рекомендованы на федеральный этап конкурса.
                    Надеемся, плоды их труда — от вкуснейших копченостей и напитка «Иван-чай» до сверхнадежных стальных
                    дверей и роботизированного модульного экзоскелета — сумеют покорить Москву.
                    В итоге победителями признаны 15 организаций. Все они рекомендованы на федеральный этап конкурса.
                    Надеемся, плоды их труда — от вкуснейших копченостей и напитка «Иван-чай» до сверхнадежных стальных
                    дверей и роботизированного модульного экзоскелета — сумеют покорить Москву.
                </p>
                <blockquote>
                    Все они рекомендованы на федеральный этап конкурса. Надеемся, плоды их труда — от вкуснейших
                    копченостей и напитка «Иван-чай» до сверхнадежных стальных дверей и роботизированного модульного
                    экзоскелета — сумеют покорить Москву.
                </blockquote>
                <p>
                    В итоге победителями признаны 15 организаций. Все они рекомендованы на федеральный этап конкурса.
                    Надеемся, плоды их труда — от вкуснейших копченостей и напитка «Иван-чай» до сверхнадежных стальных
                    дверей и роботизированного модульного экзоскелета — сумеют покорить Москву.
                </p>
                <h2>
                    Как мы добились такого качества
                </h2>
                <p>
                    В итоге победителями признаны 15 организаций. Все они рекомендованы на федеральный этап конкурса.
                    Надеемся, плоды их труда — от вкуснейших копченостей и напитка «Иван-чай» до сверхнадежных стальных
                    дверей и роботизированного модульного экзоскелета — сумеют покорить Москву.
                </p>
                <h3>
                    Наши категории качества
                </h3>
                <p>
                    В итоге победителями признаны 15 организаций. Все они рекомендованы на федеральный этап конкурса.
                </p>
                <ol>
                    <li>
                        Первая категория
                    </li>
                    <li>
                        Вторая категория
                    </li>
                    <li>
                        Третья категория
                    </li>
                </ol>
                <p>
                    В итоге победителями признаны 15 организаций. Все они рекомендованы на федеральный этап конкурса.
                </p>
                <ul>
                    <li>
                        Первая категория
                    </li>
                    <li>
                        Вторая категория
                    </li>
                    <li>
                        Третья категория
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="projects-slider projects-slider--news js-projects-slider js-block-to-reveal">
    <div class="container">
        <div class="projects-slider__content">
            <div class="projects-slider__top">
                <h2 class="projects-slider__small-heading">
                    Новости
                </h2>
                <h3 class="projects-slider__large-heading">
                    Другие актуальные новости
                </h3>
                <a href="#" class="projects-slider__show-all">
                    Смотреть все
                </a>
            </div>
            <div class="projects-slider__bottom">
                <div class="projects-slider__controls">
                    <div class="projects-slider__arrows">
                        <button class="projects-slider__arrow projects-slider__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="projects-slider__arrow projects-slider__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="projects-slider__wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Приобретем автоклавы
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            Приобретем автоклавы АТ1,2-2*19 производства ОАО "Волгоцеммаш" г. Тольятти
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                13
                                            </div>
                                            <div class="news-card__date-month">
                                                Ноября
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/1.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Акция! Кирпич с доставкой
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            Белый кирпич, упакованный с доставкой в Морки, Звенигово, Волжск.
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                31
                                            </div>
                                            <div class="news-card__date-month">
                                                октября
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/2.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Сниженние цен на газосиликатные блоки
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            С 1.10.2014 СНИЖЕНЫ ЦЕНЫ на блоки некондиция 1200 руб. за 1м3. Блоки
                                            некондиция...
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                06
                                            </div>
                                            <div class="news-card__date-month">
                                                мая
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/2.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Приобретем автоклавы
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            Приобретем автоклавы АТ1,2-2*19 производства ОАО "Волгоцеммаш" г. Тольятти
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                13
                                            </div>
                                            <div class="news-card__date-month">
                                                Ноября
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/1.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Акция! Кирпич с доставкой
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            Белый кирпич, упакованный с доставкой в Морки, Звенигово, Волжск.
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                31
                                            </div>
                                            <div class="news-card__date-month">
                                                октября
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/2.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="news-card">
                                    <h4 class="news-card__title">
                                        Сниженние цен на газосиликатные блоки
                                    </h4>
                                    <div class="news-card__text">
                                        <p>
                                            С 1.10.2014 СНИЖЕНЫ ЦЕНЫ на блоки некондиция 1200 руб. за 1м3. Блоки
                                            некондиция...
                                        </p>
                                    </div>
                                    <div class="news-card__bottom-row">
                                        <div class="news-card__date">
                                            <div class="news-card__date-day">
                                                06
                                            </div>
                                            <div class="news-card__date-month">
                                                мая
                                            </div>
                                            <div class="news-card__date-year">
                                                2022
                                            </div>
                                        </div>
                                        <div class="news-card__image-container">
                                            <img src="img/news/2.jpg" alt="" class="news-card__image">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Есть вопросы?
                </h2>
                <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                    <h3 class="contacts-us__form-heading">
                        Напишите нам, наши менеджеры свяжутся с&nbsp;вами в самое ближайшее время
                    </h3>
                    <div class="contacts-us__form-fields">
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Имя" required="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="tel" class="contacts-us__form-input js-phone-input" placeholder="Телефон"
                                required="" data-parsley-phone="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Вопрос (необязательно)">
                        </div>
                    </div>
                    <div class="contacts-us__form-controls">
                        <button type="submit" class="contacts-us__form-submit">
                            Отправить
                        </button>
                        <div class="contacts-us__form-policy">
                            Нажимая “Отправить” вы соглашаетесь <a href="#">с политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/contact-us.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}