{{#extend "layout"}}
{{#content "main"}}



<section class="standard-header standard-header--always-large">

    <div class="container">
        <div class="standard-header__clipper">
            <div class="standard-header__content">
                <div class="bricks">

                    <div class="bricks__cursor">
                        <div class="bricks__pattern">

                        </div>
                    </div>
                </div>
                <div class="standard-header__logo-wrapper">
                    <a href="#" class="standard-header__logo">
                        <img src="img/logo.svg" alt="" class="standard-header__logo-image">
                        <div class="standard-header__logo-text">
                            МАРИЙСКИЙ ЗАВОД<br>
                            СИЛИКАТНОГО<br>
                            КИРПИЧА
                        </div>
                    </a>
                </div>

                <h1 class="standard-header__main-heading standard-header__main-heading--with-margin">
                    Страница не найдена
                </h1>
                <div class="standard-header__error-text">
                    ошибка 404
                </div>
                <a href="#" class="standard-header__back-link">
                    Вернуться на главную
                </a>

            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}