{{#extend "layout"}}
{{#content "main"}}


<section class="products js-block-to-reveal">
    <div class="container">
        <div class="products__content">

            <div class="products__row">
                <div class="products__sidebar">
                    <div class="products__sidebar-inner">


                        <div class="products__nav">
                            <ul class="products__nav-list">
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link active">
                                        Кирпич силикатный
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Мелкие стеновые блоки из ячеистого бетона
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Сухие строительные смеси марки СИЛма
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Известесодержащее вяжущее
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Утеплитель
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Фасадная краска
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="products__price">
                            Скачать прайс-лист
                        </a>
                    </div>
                </div>
                <div class="products__main">
                    <div class="products__main-scroll-wrapper">
                        <div class="products__main-inner">



                            <a href="#" class="products__logo">
                                <img src="img/logo.svg" alt="" class="products__logo-image">
                                <div class="products__logo-text">
                                    МАРИЙСКИЙ ЗАВОД<br>
                                    СИЛИКАТНОГО<br>
                                    КИРПИЧА
                                </div>
                            </a>
                            <div class="products__breadcrumbs">
                                <a href="#">
                                    Главная
                                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                                        <use xlink:href="#breadcrumbs-arrow"></use>
                                    </svg>
                                </a>

                                <a href="#" class="active">
                                    Продукция
                                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                                        <use xlink:href="#breadcrumbs-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                            <h1 class="products__main-heading">
                                Продукция
                            </h1>
                            <ul class="products__categories-list">
                                <li class="products__categories-list-item">
                                    <a href="#" class="products__categories-card">
                                        <div class="products__categories-card-image-container">
                                            <img src="img/products-categories/1.webp" alt=""
                                                class="products__categories-card-image">
                                        </div>
                                        <div class="products__categories-card-content">
                                            <h4 class="products__categories-card-title">
                                                Кирпич силикатный ГОСТ 379-2015
                                            </h4>
                                            <div class="products__categories-card-text">
                                                <p>
                                                    Применяется для кладки и отделки наружных и внутренних стен зданий и
                                                    сооружений.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="products__categories-list-item">
                                    <a href="#" class="products__categories-card">
                                        <div class="products__categories-card-image-container">
                                            <img src="img/products-categories/2.webp" alt=""
                                                class="products__categories-card-image">
                                        </div>
                                        <div class="products__categories-card-content">
                                            <h4 class="products__categories-card-title">
                                                Мелкие стеновые блоки из ячеистого бетона
                                            </h4>
                                            <div class="products__categories-card-text">
                                                <p>
                                                    Это соответствующий духу нынешнего времени строительный материал для
                                                    кладки
                                                    стен и перегородок, представляющий из себя искусственный камень с
                                                    пористой
                                                    структурой и низким коэффициентом теплопроводности.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="products__categories-list-item">
                                    <a href="#" class="products__categories-card">
                                        <div class="products__categories-card-image-container">
                                            <img src="img/products-categories/3.webp" alt=""
                                                class="products__categories-card-image">
                                        </div>
                                        <div class="products__categories-card-content">
                                            <h4 class="products__categories-card-title">
                                                Известе&shy;содержащее вяжущее
                                            </h4>
                                            <div class="products__categories-card-text">
                                                <p>
                                                    Известесодержащее вяжущее - это смесь извести с инертными добавками.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="products__categories-list-item">
                                    <a href="#" class="products__categories-card">
                                        <div class="products__categories-card-image-container">
                                            <img src="img/products-categories/4.webp" alt=""
                                                class="products__categories-card-image">
                                        </div>
                                        <div class="products__categories-card-content">
                                            <h4 class="products__categories-card-title">
                                                Сухие строительные смеси марки СИЛма
                                            </h4>
                                            <div class="products__categories-card-text">
                                                <p>
                                                    Сухие строительные смеси — это многокомпонентные, составы на основе
                                                    наполнителей, заполнителей, вяжущих компонентов, модифицирующих
                                                    добавок.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="products__categories-list-item">
                                    <a href="#" class="products__categories-card">
                                        <div class="products__categories-card-image-container">
                                            <img src="img/products-categories/1.webp" alt=""
                                                class="products__categories-card-image">
                                        </div>
                                        <div class="products__categories-card-content">
                                            <h4 class="products__categories-card-title">
                                                Кирпич силикатный ГОСТ 379-2015
                                            </h4>
                                            <div class="products__categories-card-text">
                                                <p>
                                                    Применяется для кладки и отделки наружных и внутренних стен зданий и
                                                    сооружений.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="products__categories-list-item">
                                    <a href="#" class="products__categories-card">
                                        <div class="products__categories-card-image-container">
                                            <img src="img/products-categories/2.webp" alt=""
                                                class="products__categories-card-image">
                                        </div>
                                        <div class="products__categories-card-content">
                                            <h4 class="products__categories-card-title">
                                                Мелкие стеновые блоки из ячеистого бетона
                                            </h4>
                                            <div class="products__categories-card-text">
                                                <p>
                                                    Это соответствующий духу нынешнего времени строительный материал для
                                                    кладки
                                                    стен и перегородок, представляющий из себя искусственный камень с
                                                    пористой
                                                    структурой и низким коэффициентом теплопроводности.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="products__categories-list-item">
                                    <a href="#" class="products__categories-card">
                                        <div class="products__categories-card-image-container">
                                            <img src="img/products-categories/3.webp" alt=""
                                                class="products__categories-card-image">
                                        </div>
                                        <div class="products__categories-card-content">
                                            <h4 class="products__categories-card-title">
                                                Известе&shy;содержащее вяжущее
                                            </h4>
                                            <div class="products__categories-card-text">
                                                <p>
                                                    Известесодержащее вяжущее - это смесь извести с инертными добавками.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="products__categories-list-item">
                                    <a href="#" class="products__categories-card">
                                        <div class="products__categories-card-image-container">
                                            <img src="img/products-categories/4.webp" alt=""
                                                class="products__categories-card-image">
                                        </div>
                                        <div class="products__categories-card-content">
                                            <h4 class="products__categories-card-title">
                                                Сухие строительные смеси марки СИЛма
                                            </h4>
                                            <div class="products__categories-card-text">
                                                <p>
                                                    Сухие строительные смеси — это многокомпонентные, составы на основе
                                                    наполнителей, заполнителей, вяжущих компонентов, модифицирующих
                                                    добавок.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Есть вопросы?
                </h2>
                <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                    <h3 class="contacts-us__form-heading">
                        Напишите нам, наши менеджеры свяжутся с&nbsp;вами в самое ближайшее время
                    </h3>
                    <div class="contacts-us__form-fields">
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Имя" required="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="tel" class="contacts-us__form-input js-phone-input" placeholder="Телефон"
                                required="" data-parsley-phone="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Вопрос (необязательно)">
                        </div>
                    </div>
                    <div class="contacts-us__form-controls">
                        <button type="submit" class="contacts-us__form-submit">
                            Отправить
                        </button>
                        <div class="contacts-us__form-policy">
                            Нажимая “Отправить” вы соглашаетесь <a href="#">с политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/contact-us.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}