{{#extend "layout"}}
{{#content "main"}}


<section class="products js-block-to-reveal">
    <div class="container">
        <div class="products__content">

            <div class="products__row">
                <div class="products__sidebar">
                    <div class="products__sidebar-inner">


                        <div class="products__nav">
                            <ul class="products__nav-list">
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link active">
                                        Кирпич силикатный
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Мелкие стеновые блоки из ячеистого бетона
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Сухие строительные смеси марки СИЛма
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Известесодержащее вяжущее
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Утеплитель
                                    </a>
                                </li>
                                <li class="products__nav-list-item">
                                    <a href="#" class="products__nav-link">
                                        Фасадная краска
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="products__main">
                    <div class="products__main-scroll-wrapper">


                        <div class="products__main-inner">
                            <a href="#" class="products__logo">
                                <img src="img/logo.svg" alt="" class="products__logo-image">
                                <div class="products__logo-text">
                                    МАРИЙСКИЙ ЗАВОД<br>
                                    СИЛИКАТНОГО<br>
                                    КИРПИЧА
                                </div>
                            </a>
                            <div class="products__breadcrumbs">
                                <a href="#">
                                    Главная
                                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                                        <use xlink:href="#breadcrumbs-arrow"></use>
                                    </svg>
                                </a>

                                <a href="#">
                                    Продукция
                                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                                        <use xlink:href="#breadcrumbs-arrow"></use>
                                    </svg>
                                </a>
                                <a href="#" class="active">
                                    Кирпич силикатный ГОСТ 379-2015
                                    <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                                        <use xlink:href="#breadcrumbs-arrow"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products__categories-block">

                                <ul class="products__list">
                                    <li class="products__list-item">
                                        <div class="products__card">
                                            <div
                                                class="products__card-image-container products__card-image-container--large">
                                                <img src="img/product.webp" alt="" class="products__card-image">
                                            </div>

                                            <div class="products__card-content">
                                                <h4 class="products__card-title products__card-title--large">
                                                    Кирпич силикатный лицевой
                                                </h4>
                                                <div class="products__card-row">
                                                    <div class="products__card-content-main">
                                                        <div class="products__card-variants">
                                                            <div
                                                                class="products__card-variants-block products__card-variants-block--type">
                                                                <h4 class="products__card-variants-block-heading">
                                                                    Тип кирпича
                                                                </h4>
                                                                <div class="products__card-variants-btns">
                                                                    <a href="#"
                                                                        class="products__card-variants-btn active">
                                                                        одинарный
                                                                    </a>
                                                                    <a href="#" class="products__card-variants-btn">
                                                                        утолщенный
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="products__card-variants-block products__card-variants-block--package">
                                                                <h4 class="products__card-variants-block-heading">
                                                                    Упаковка
                                                                </h4>
                                                                <div class="products__card-variants-tabs-container">
                                                                    <div class="products__card-variants-tabs-item">
                                                                        <div class="products__card-variants-btns">
                                                                            <a href="#"
                                                                                class="products__card-variants-btn">
                                                                                малый поддон
                                                                            </a>
                                                                            <a href="#"
                                                                                class="products__card-variants-btn">
                                                                                большой поддон
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="products__card-variants-tabs-item">
                                                                        <div class="products__card-variants-btns">
                                                                            <a href="#"
                                                                                class="products__card-variants-btn">
                                                                                малый поддон
                                                                            </a>
                                                                            <a href="#"
                                                                                class="products__card-variants-btn">
                                                                                большой поддон
                                                                            </a>
                                                                            <a href="#"
                                                                                class="products__card-variants-btn">
                                                                                навалом
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="products__card-specs-tabs">
                                                            <div class="products__card-specs-tabs-item">
                                                                <div class="products__card-specs">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>
                                                                                    Цвет:
                                                                                </th>
                                                                                <td>
                                                                                    Белый
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Размеры кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    250х120х65
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Марка по прочности:
                                                                                </th>
                                                                                <td>
                                                                                    М 200
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Водопоглощение:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 6%
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Морозостойкость:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 50 циклов
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Удельная эффективная активность
                                                                                    естественных
                                                                                    радионуклидов:
                                                                                </th>
                                                                                <td>
                                                                                    11 Бк/кг (норма не более 370
                                                                                    БК/кг)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Плотность
                                                                                </th>
                                                                                <td>
                                                                                    1800-1900 кг/м3
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Теплопроводность:
                                                                                </th>
                                                                                <td>
                                                                                    0,86 Вт (мС)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Вес кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    4 кг
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="products__card-specs-tabs-item">
                                                                <div class="products__card-specs">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>
                                                                                    Цвет:
                                                                                </th>
                                                                                <td>
                                                                                    Белый
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Размеры кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    250х120х65
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Марка по прочности:
                                                                                </th>
                                                                                <td>
                                                                                    М 200
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Водопоглощение:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 6%
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Морозостойкость:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 50 циклов
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Удельная эффективная активность
                                                                                    естественных
                                                                                    радионуклидов:
                                                                                </th>
                                                                                <td>
                                                                                    11 Бк/кг (норма не более 370
                                                                                    БК/кг)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Плотность
                                                                                </th>
                                                                                <td>
                                                                                    1800-1900 кг/м3
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Теплопроводность:
                                                                                </th>
                                                                                <td>
                                                                                    0,86 Вт (мС)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Вес кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    4 кг
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="products__card-specs-tabs-item">
                                                                <div class="products__card-specs">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>
                                                                                    Цвет:
                                                                                </th>
                                                                                <td>
                                                                                    Белый
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Размеры кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    250х120х65
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Марка по прочности:
                                                                                </th>
                                                                                <td>
                                                                                    М 200
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Водопоглощение:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 6%
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Морозостойкость:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 50 циклов
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Удельная эффективная активность
                                                                                    естественных
                                                                                    радионуклидов:
                                                                                </th>
                                                                                <td>
                                                                                    11 Бк/кг (норма не более 370
                                                                                    БК/кг)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Плотность
                                                                                </th>
                                                                                <td>
                                                                                    1800-1900 кг/м3
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Теплопроводность:
                                                                                </th>
                                                                                <td>
                                                                                    0,86 Вт (мС)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Вес кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    4 кг
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="products__card-specs-tabs-item">
                                                                <div class="products__card-specs">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>
                                                                                    Цвет:
                                                                                </th>
                                                                                <td>
                                                                                    Белый
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Размеры кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    250х120х65
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Марка по прочности:
                                                                                </th>
                                                                                <td>
                                                                                    М 200
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Водопоглощение:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 6%
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Морозостойкость:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 50 циклов
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Удельная эффективная активность
                                                                                    естественных
                                                                                    радионуклидов:
                                                                                </th>
                                                                                <td>
                                                                                    11 Бк/кг (норма не более 370
                                                                                    БК/кг)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Плотность
                                                                                </th>
                                                                                <td>
                                                                                    1800-1900 кг/м3
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Теплопроводность:
                                                                                </th>
                                                                                <td>
                                                                                    0,86 Вт (мС)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Вес кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    4 кг
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="products__card-specs-tabs-item">
                                                                <div class="products__card-specs">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>
                                                                                    Цвет:
                                                                                </th>
                                                                                <td>
                                                                                    Белый
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Размеры кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    250х120х65
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Марка по прочности:
                                                                                </th>
                                                                                <td>
                                                                                    М 200
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Водопоглощение:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 6%
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Морозостойкость:
                                                                                </th>
                                                                                <td>
                                                                                    Не менее 50 циклов
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Удельная эффективная активность
                                                                                    естественных
                                                                                    радионуклидов:
                                                                                </th>
                                                                                <td>
                                                                                    11 Бк/кг (норма не более 370
                                                                                    БК/кг)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Плотность
                                                                                </th>
                                                                                <td>
                                                                                    1800-1900 кг/м3
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Теплопроводность:
                                                                                </th>
                                                                                <td>
                                                                                    0,86 Вт (мС)
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>
                                                                                    Вес кирпича:
                                                                                </th>
                                                                                <td>
                                                                                    4 кг
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="products__card-content-aside">
                                                        <div class="products__card-calculation">
                                                            <div class="products__card-calculation-card">
                                                                <h3 class="products__card-calculation-card-heading">
                                                                    Стоимость
                                                                </h3>
                                                                <div class="products__card-calculation-card-tabs">
                                                                    <div
                                                                        class="products__card-calculation-card-tab-item">
                                                                        <ul
                                                                            class="products__card-calculation-card-list">
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        Кол-во
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        400
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            шт
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За пачку
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        5 908.00
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За 1 шт.
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        14.77
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div
                                                                        class="products__card-calculation-card-tab-item">
                                                                        <ul
                                                                            class="products__card-calculation-card-list">
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        Кол-во
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        400
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            шт
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За пачку
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        5 908.00
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За 1 шт.
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        14.77
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div
                                                                        class="products__card-calculation-card-tab-item">
                                                                        <ul
                                                                            class="products__card-calculation-card-list">
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        Кол-во
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        400
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            шт
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За пачку
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        5 908.00
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За 1 шт.
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        14.77
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div
                                                                        class="products__card-calculation-card-tab-item">
                                                                        <ul
                                                                            class="products__card-calculation-card-list">
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        Кол-во
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        400
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            шт
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За пачку
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        5 908.00
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За 1 шт.
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        14.77
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div
                                                                        class="products__card-calculation-card-tab-item">
                                                                        <ul
                                                                            class="products__card-calculation-card-list">
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        Кол-во
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        400
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            шт
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За пачку
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        5 908.00
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="products__card-calculation-card-list-item">
                                                                                <div
                                                                                    class="products__card-calculation-card-price">
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-text">
                                                                                        За 1 шт.
                                                                                    </div>
                                                                                    <div
                                                                                        class="products__card-calculation-card-price-amount">
                                                                                        14.77
                                                                                        <span
                                                                                            class="products__card-calculation-card-price-unit">
                                                                                            руб
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="products__card-calculation-card-btns">
                                                                    <a href="#order-product"
                                                                        class="products__card-calculation-card-order-btn">
                                                                        Заказать
                                                                    </a>
                                                                    <a href="#"
                                                                        class="products__card-calculation-card-calculate-btn">
                                                                        <svg width="14" height="14" aria-hidden="true"
                                                                            class="icon-calculate">
                                                                            <use xlink:href="#calculate"></use>
                                                                        </svg>
                                                                        Рассчитать<br> потребность
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <a href="#"
                                                                class="products__card-calculation-download-link">
                                                                <svg width="14" height="14" aria-hidden="true"
                                                                    class="icon-download">
                                                                    <use xlink:href="#download"></use>
                                                                </svg>
                                                                Скачать прайс-лист
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </li>



                                </ul>
                            </div>

                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Есть вопросы?
                </h2>
                <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                    <h3 class="contacts-us__form-heading">
                        Напишите нам, наши менеджеры свяжутся с&nbsp;вами в самое ближайшее время
                    </h3>
                    <div class="contacts-us__form-fields">
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Имя" required="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="tel" class="contacts-us__form-input js-phone-input" placeholder="Телефон"
                                required="" data-parsley-phone="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Вопрос (необязательно)">
                        </div>
                    </div>
                    <div class="contacts-us__form-controls">
                        <button type="submit" class="contacts-us__form-submit">
                            Отправить
                        </button>
                        <div class="contacts-us__form-policy">
                            Нажимая “Отправить” вы соглашаетесь <a href="#">с политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/contact-us.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}