{{#extend "layout"}}
{{#content "main"}}



<section class="standard-header">
    <div class="container">
        <div class="standard-header__clipper">
            <div class="standard-header__content">
                <div class="standard-header__bg" style="--overlay-opacity: 0;">
                    <img src="img/vacancies.jpg" alt="" class="standard-header__bg-image standard-header__bg-image--vacancies">
                </div>
                <div class="standard-header__logo-wrapper">
                    <a href="#" class="standard-header__logo">
                        <img src="img/logo.svg" alt="" class="standard-header__logo-image">
                        <div class="standard-header__logo-text">
                            МАРИЙСКИЙ ЗАВОД<br>
                            СИЛИКАТНОГО<br>
                            КИРПИЧА
                        </div>
                    </a>
                </div>
                <div class="standard-header__breadcrumbs">
                    <a href="#">
                        Главная
                        <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                            <use xlink:href="#breadcrumbs-arrow"></use>
                        </svg>
                    </a>
                    <a href="#">
                        О заводе
                        <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                            <use xlink:href="#breadcrumbs-arrow"></use>
                        </svg>
                    </a>
                    <a href="#" class="active">
                        вакансии
                        <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                            <use xlink:href="#breadcrumbs-arrow"></use>
                        </svg>
                    </a>
                </div>
                <h1 class="standard-header__main-heading">
                    Вакансии
                </h1>

            </div>
        </div>
    </div>
</section>


<section class="vacancies">
    <div class="container">
        <div class="vacancies__content">
            <div class="vacancies__inner-content">


                <h2 class="vacancies__heading">
                    ЗАО «Марийский завод силикатного кирпича» приглашает на постоянную работу:
                </h2>
                <ul class="vacancies__categories-list">
                    <li class="vacancies__categories-list-item">
                        <h3 class="vacancies__categories-heading">
                            Электроучасток
                        </h3>
                        <ul class="vacancies__list">
                            <li class="vacancies__list-item">
                                <div class="vacancies__card">
                                    <h4 class="vacancies__card-title">
                                        Электрослесарь
                                    </h4>
                                    <div class="vacancies__card-price">
                                        от 40 000 ₽
                                    </div>
                                    <a href="#" class="vacancies__card-btn">
                                        Откликнуться
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="vacancies__categories-list-item">
                        <h3 class="vacancies__categories-heading">
                            Цех Производства Силикатного Кирпича
                        </h3>
                        <ul class="vacancies__list">
                            <li class="vacancies__list-item">
                                <div class="vacancies__card">
                                    <h4 class="vacancies__card-title">
                                        Пресс-оператор

                                    </h4>
                                    <div class="vacancies__card-price">
                                        от 50 000 ₽
                                    </div>
                                    <a href="#" class="vacancies__card-btn">
                                        Откликнуться
                                    </a>
                                </div>
                            </li>
                            <li class="vacancies__list-item">
                                <div class="vacancies__card">
                                    <h4 class="vacancies__card-title">
                                        Приготовитель силикатной массы


                                    </h4>
                                    <div class="vacancies__card-price">
                                        от 41 000 ₽
                                    </div>
                                    <a href="#" class="vacancies__card-btn">
                                        Откликнуться
                                    </a>
                                </div>
                            </li>
                            <li class="vacancies__list-item">
                                <div class="vacancies__card">
                                    <h4 class="vacancies__card-title">
                                        Укладчик – сортировщик


                                    </h4>
                                    <div class="vacancies__card-price">
                                        от 30 000 ₽
                                    </div>
                                    <a href="#" class="vacancies__card-btn">
                                        Откликнуться
                                    </a>
                                </div>
                            </li>
                            <li class="vacancies__list-item">
                                <div class="vacancies__card">
                                    <h4 class="vacancies__card-title">
                                        Формовщик бетонных изделий УПГБ


                                    </h4>
                                    <div class="vacancies__card-price">
                                        от 36 000 ₽
                                    </div>
                                    <a href="#" class="vacancies__card-btn">
                                        Откликнуться
                                    </a>
                                </div>
                            </li>
                            <li class="vacancies__list-item">
                                <div class="vacancies__card">
                                    <h4 class="vacancies__card-title">
                                        Мастер смены


                                    </h4>
                                    <div class="vacancies__card-price">
                                        от 40 000 ₽
                                    </div>
                                    <a href="#" class="vacancies__card-btn">
                                        Откликнуться
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="vacancies__advantages">
                <h3 class="vacancies__advantages-heading">
                    Преимущества работы у нас
                </h3>

                <ul class="vacancies__advantages-list">
                    <li class="vacancies__advantages-list-item">
                        <div class="vacancies__advantages-card">
                            <h4 class="vacancies__advantages-card-title">
                                Доставка до места работы и обратно
                            </h4>
                            <div class="vacancies__advantages-card-text">
                                <p>
                                    Все вопросы с логистикой мы берем на себя
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="vacancies__advantages-list-item">
                        <div class="vacancies__advantages-card">
                            <h4 class="vacancies__advantages-card-title">
                                Оформление по Трудовому кодексу
                            </h4>
                            <div class="vacancies__advantages-card-text">
                                <p>
                                    Мы приветствуем официальное сотрудничество
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="vacancies__advantages-list-item">
                        <div class="vacancies__advantages-card">
                            <h4 class="vacancies__advantages-card-title">
                                Соц. пакет:
                            </h4>
                            <div class="vacancies__advantages-card-text">
                                <ul>
                                    <li>
                                        материальная помощь к ежегодному оплачиваемому отпуску
                                    </li>
                                    <li>
                                        тринадцатая заработная плата
                                    </li>
                                    <li>
                                        частичная компенсация комплексного питания
                                    </li>
                                    <li>
                                        бесплатная спецодежда.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="contact-us js-block-to-reveal" id="contact">
    <div class="container">
        <div class="contact-us__row">
            <div class="contacts-us__content">
                <h2 class="contact-us__heading">
                    Есть вопросы?
                </h2>
                <form action="/" method="POST" class="contact-us__form" data-need-validation="">
                    <h3 class="contacts-us__form-heading">
                        Напишите нам, наши менеджеры свяжутся с&nbsp;вами в самое ближайшее время
                    </h3>
                    <div class="contacts-us__form-fields">
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Имя" required="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="tel" class="contacts-us__form-input js-phone-input" placeholder="Телефон"
                                required="" data-parsley-phone="">
                        </div>
                        <div class="contacts-us__form-field">
                            <input type="text" class="contacts-us__form-input" placeholder="Вопрос (необязательно)">
                        </div>
                    </div>
                    <div class="contacts-us__form-controls">
                        <button type="submit" class="contacts-us__form-submit">
                            Отправить
                        </button>
                        <div class="contacts-us__form-policy">
                            Нажимая “Отправить” вы соглашаетесь <a href="#">с&nbsp;политикой конфиденциальности</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="contacts-us__image-wrapper">
                <img src="img/contact-us.jpg" alt="" class="contacts-us__image">
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}