.contact-us {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.2rem;
    }
}

.contact-us__row {
    color: white;

    @include fadeReveal;

    @include breakpointMF(small-tablet) {
        background: linear-gradient(180deg, #1f73e0 -5.16%, #ffffff 464.29%);
        border-radius: 2rem;

        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 2rem;
        overflow: hidden;
        background-image: url('../img/contact-us-desktop-bg.webp'), linear-gradient(180deg, #1f73e0 -5.16%, #ffffff 464.29%);
        background-size: 57rem auto, cover;
        background-position: left bottom;
        background-repeat: no-repeat;
    }

    @include breakpoint(mobile) {
        background-image: url('../img/contact-us-mobile-bg.webp'), linear-gradient(180deg, #1f73e0 -5.16%, rgba(63, 111, 217, 0) 360.97%);
        background-size: 10rem auto, cover;
        background-position: right top;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        overflow: hidden;
        backface-visibility: hidden;
        transform: translateZ(0);
    }
}

.contacts-us__content {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        grid-gap: 2rem;
        grid-column: span 7;
        align-items: flex-start;
    }

    @include breakpoint(mobile) {
        padding: 2rem;
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
    }
}

.contacts-us__image-wrapper {
    @include breakpointMF(small-tablet) {
        grid-column: span 5;
        display: flex;
        flex-direction: column;
    }
}

.contacts-us__image {
    display: block;
    width: 100%;
    height: auto;

    @include breakpointMF(small-tablet) {
        flex-grow: 1;
    }
    @include breakpoint(mobile) {
        max-height: 25.4rem;
        object-fit: cover;
    }
}

.contact-us__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 0.13em;
    text-transform: uppercase;

    @include breakpointMF(small-tablet) {
        grid-column: span 2;
        padding: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    @include breakpoint(mobile) {
        padding: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 110%;
        margin-bottom: 2.8rem;
    }
}

.contact-us__form {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    .parsley-errors-list.filled {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }

    @include breakpointMF(small-tablet) {
        padding: 3rem 0;
        grid-column: span 5;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.contacts-us__form-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 4rem;
    margin-top: -0.8rem;

    @include breakpoint(mobile) {
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 130%;
        margin-bottom: 3rem;
    }
}

.contacts-us__form-fields {
    display: grid;
    max-width: 51.2rem;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2rem;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        max-width: none;
        grid-gap: 2rem;
        margin-bottom: 4rem;
    }
}

.contacts-us__form-input {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    color: white;
    font-family: var(--inter);
    height: 4.5rem;
    border-bottom: 1px solid rgba(#ffffff, 0.2);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
    }

    @include placeholder {
        color: white;
    }
}

.contacts-us__form-controls {
    display: flex;
    align-items: center;
    gap: 2.8rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
    }
}

.contacts-us__form-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #faf8f5;
    border-radius: 7rem;
    padding: 1.4rem 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--primary-color);
    flex-shrink: 0;
    transition: opacity 0.2s;

    .no-touch &:hover,
    .touch &:active {
        opacity: 0.85;
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 110%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        padding: 2rem 4rem;
        border-radius: 7rem;
        margin-bottom: 0;
    }
}

.contacts-us__form-policy {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--inter);
    max-width: 25rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 120%;
        max-width: none;
    }
    a {
        color: white;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: all 0.2s;
        .no-touch &:hover {
            text-decoration-color: white;
        }
    }
}

.contacts-us__rules-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    max-width: 54rem;
    grid-row-gap: 3.2rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        grid-gap: 2rem;
    }
}

.contacts-us__card-key {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 115%;
    color: rgba(white, 0.5);
    margin-bottom: 0.8rem;
    font-family: var(--inter);
}

.contacts-us__card-value {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 130%;
    }
}

.contacts-us__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    margin-top: auto;

    @include breakpoint(mobile) {
        align-items: stretch;
        gap: 1rem;
    }
}

.contacts-us__link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #faf8f5;
    border: 1px solid #faf8f5;
    white-space: nowrap;
    flex-shrink: 0;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, opacity .2s;
    padding: 1.4rem 2rem;
    border-radius: 7rem;
    text-align: center;
    justify-content: center;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 110%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        padding: 1.2rem 1.6rem;
        border-radius: 7rem;
        width: 100%;
    }
    &:link,
    &:visited {
        color: #faf8f5;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: #faf8f5;
        color: var(--primary-color);
    }

    &--filled {
        background-color: #faf8f5;
        color: var(--primary-color);

        &:link,
        &:visited {
            color: var(--primary-color);
        }


        &:hover {
            opacity: 0.8;
        }
    }
}

.contacts-us__vacancies-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2rem;
    margin-bottom: 3rem;
}

.contacts-us__vacancies-card {
    display: flex;
    flex-direction: column;
}

.contacts-us__vacancies-card-title {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    gap: 2rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        gap: 1.5rem;
    }

    svg {
        flex-shrink: 0;
        width: 4.6rem;
        height: 4.6rem;
        fill: currentColor;

        @include breakpoint(mobile) {
            width: 3.8rem;
            height: 3.8rem;
        }
    }
}

.contacts-us__vacancies-card-list {
    padding-left: 6.6rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 0.2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 115%;
    font-family: var(--inter);

    @include breakpoint(mobile) {
        padding-left: 5rem;
    }
}

.contacts-us__vacancies-card-list-item {
    display: flex;
    align-items: flex-start;
    

    &::before {
        content: '';
        flex-shrink: 0;
        width: 0.4rem;
        height: 0.4rem;
        background-color: currentColor;
        border-radius: 50%;
        margin-top: .7rem;
        margin-right: 0.7rem;
        margin-left: 0.4rem;
    }
}
