.image-block {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.2rem;
    }
}

.image-block__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 2rem;

    @include fadeReveal;

    @include breakpoint(mobile) {
        
    }
}