.page-footer {
    padding-bottom: 3rem;

    @include breakpoint(mobile) {
        padding-bottom: 2rem;
    }
}

.page-footer__content {
    @include breakpointMF(small-tablet) {
        padding: 5rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        border: 1px solid #dfe3e9;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2rem;
        min-height: 49rem;
    }

    @include breakpoint(mobile) {
        border: 1px solid #dfe3e9;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
}

.page-footer__col {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-footer__nav-link {
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    display: block;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        font-family: var(--inter);
        line-height: 115%;
        text-transform: none;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-footer__submenu-list {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.2rem;

    @include breakpoint(mobile) {
        grid-gap: 1.2rem;
        margin-top: 2rem;
    }
}

.page-footer__submenu-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        font-family: var(--inter);
        line-height: 115%;
        color: #b8b5bf;
        text-transform: none;
        letter-spacing: 0;

        &:link,
        &:visited {
            color: #b8b5bf;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-footer__nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 2rem;
        align-items: stretch;
        order: 16;
        margin-bottom: 4rem;
    }
}

.page-footer__nav-group {
    @include breakpoint(mobile) {
        order: 17;
        margin-bottom: 4.5rem;
    }
}

.page-footer__phone-link {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 140%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin-bottom: 2rem;
        display: block;
        order: -3;
    }
    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-footer__email-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 115%;
        font-family: var(--inter);
        display: block;
        letter-spacing: 0;
        margin-bottom: 4.5rem;
        text-transform: none;
    }
    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-footer__address-row {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    gap: 3rem;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 115%;
    font-family: var(--inter);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        font-family: var(--inter);
        line-height: 115%;
        order: -3;
        margin-bottom: 2rem;
    }
}

.page-footer__social-links {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-footer__social-link {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe3e9;
    border-radius: 50%;
    flex-shrink: 0;
    transition: background-color 0.2s, border-color 0.2s, transform .2s;
    svg {
        width: 1.4rem;
        height: 1.4rem;
        fill: #353535;
        transition: fill 0.2s;
    }

    &--green {
        background: #43d854;
        border-color: #43d854;
        svg {
            fill: white;
        }
    }

    &--blue {
        background: #0088cc;
        border-color: #0088cc;
        svg {
            fill: white;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        transform: scale(0.98);
    }
}

.page-footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #bfc3c7;
    margin-top: auto;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        order: 19;
        margin-bottom: 1.6rem;
    }
}

.page-footer__secondary-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    margin-top: auto;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-footer__secondary-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #bfc3c7;
    &:link,
    &:visited {
        color: #bfc3c7;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-footer__policy-row {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: auto;
    justify-content: space-between;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-footer__policy-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #bfc3c7;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        order: 18;
        margin-bottom: 1rem;
    }
    &:link,
    &:visited {
        color: #bfc3c7;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-footer__made-by {
    display: inline-flex;
    align-items: center;
    gap: 1.7rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 115%;
    font-family: var(--inter);
    flex-shrink: 0;

    @include breakpoint(mobile) {
        flex-direction: column;
        gap: 1.2rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        line-height: 120%;
        order: 30;
        padding-top: 2.3rem;
        position: relative;
        padding-bottom: 0;
        color: #b8b5bf;
        &:link,
        &:visited {
            color: #b8b5bf;
        }
        &::after {
            content: '';
            position: absolute;
            left: -2rem;
            right: -2rem;
            height: 1px;
            background-color: #dfe3e9;
            top: 0;
        }
    }
}

.page-footer__made-by-logo {
    width: 8rem;
    height: auto;
    position: relative;
    bottom: -0.2rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        bottom: auto;
        width: 8rem;
        flex-shrink: 1;
    }
}
