.standard-header {
    margin-bottom: 2rem;

   
}

.standard-header__clipper {
    border-radius: 2rem;
    overflow: hidden;
    backface-visibility: hidden;
}

.standard-header__content {
    position: relative;
    z-index: 1;
    background: linear-gradient(180deg, #1f73e0 -5.16%, #ffffff 464.29%);
   
    color: #faf8f5;
  
    padding-top: 2.5rem;
    padding-bottom: 4rem;

 

    .standard-header--large & {
        min-height: min(calc(100vh - 4rem), 90rem);
    }

    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 2rem;
        align-content: flex-start;

        &--stretched {
            align-content: stretch;
        }

       
    }

    @include breakpoint(mobile) {
        padding: 2rem;
        padding-top: 10.5rem;
        padding-bottom: 3rem;

        &--mobile-height {
            min-height: 25rem !important;
        }

        .standard-header--large & {
            min-height: auto;
        }

        
    }
}

.standard-header__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: var(--overlay-opacity, 0);
    }

    &--gradient-overlay {
        &::after {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0) 76.73%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 71.33%, rgba(0, 0, 0, 0.4) 106.35%);
        }
       
    }
}

.standard-header__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.standard-header__logo-wrapper {
    align-self: flex-start;
    grid-column: 3 / span 3;
}

.standard-header__logo {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    margin-bottom: 5rem;
    opacity: 0;
    visibility: hidden;
   
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    
    .animatable & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s, clip-path 0.5s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @include breakpoint(mobile) {
        margin-bottom: 2.8rem;
        gap: 1.8rem;
    }
}

.standard-header__logo--hide-on-mobile {
    @include breakpoint(mobile) {
        opacity: 0 !important;
        visibility: hidden !important;
    }
}

.standard-header__logo-image {
    width: 7.6rem;
    height: auto;

    @include breakpoint(mobile) {
        width: 5.3rem;
    }
}

.standard-header__logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 110%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }
}

.standard-header__breadcrumbs {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: rgba(white, 0.5);
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
    grid-column: 3 / -1;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }

    a {
        svg {
            flex-shrink: 0;
            width: 0.4rem;
            height: 1.2rem;
            fill: rgba(white, 0.5);
            margin-left: 0.5rem;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 0.1rem;
        }

        &:last-child {
            svg {
                display: none;
            }
        }

        &:not(.active):hover {
            color: white;
        }

        &.active {
            color: rgba(white, 0.3);
            cursor: default;
        }
    }
}

.standard-header__main-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 7.2rem;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    grid-column: 3 / -1;

    @include breakpoint(mobile) {
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        max-width: none;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.standard-header__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #f0f3f7;
    font-family: var(--inter);
    grid-column: 3 / 7;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 110%;
        letter-spacing: 0.01em;
        margin-bottom: 2rem;
    }
}

.standard-header__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 6.4rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #faf8f5;
    border: 1px solid #faf8f5;
    border-radius: 7rem;
    flex-shrink: 0;
    grid-column: 3 / -1;
    justify-self: flex-start;
    align-self: flex-start;
    transition: background-color 0.2s, color 0.2s;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 110%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        padding: 1.2rem 1.6rem;
        border-radius: 7rem;
        grid-area: link;
        justify-self: flex-start;
    }
    &:link,
    &:visited {
        color: #faf8f5;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
        background-color: #faf8f5;
    }
}

.standard-header__detail-page-row {
    margin-top: auto;
    grid-column: 1 / -1;
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 2rem;
        align-items: flex-start;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 4rem;
    }
}

.standard-header__back-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    grid-column: 1 / 3;
    margin-left: 3rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    transition: opacity .2s;

    @include breakpoint(mobile) {
        margin: 0;
    }
    svg {
        flex-shrink: 0;
        width: 0.4rem;
        height: 1.2rem;
        fill: currentColor;
        margin-left: 0.5rem;
        flex-shrink: 0;
        top: 0.1rem;
        transform: scaleX(-1);
    }

    .no-touch &:hover,
    .touch &:active {
        opacity: 0.85;
    }
}

.standard-header__detail-page-main-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    grid-column: 3 / -1;
    margin-top: -1rem;

    @include breakpoint(mobile) {
       
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 130%;
        margin: 0;
    }
}
